<div>

  <app-section-title icon="fa fa-male" title="Datos referencia"></app-section-title>

  <div class="row">

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Apellido paterno" ngbTooltip="Apellido paterno" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Apellido materno" ngbTooltip="Apellido materno" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Nombre" ngbTooltip="Nombre" type="text" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <select class="form-control">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <app-select></app-select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <app-select></app-select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <app-select></app-select>
      </div>
    </div>

    <div class="col-sm-4">

    </div>

  </div>

</div>


<div class="mt-5">
  <app-section-title icon="fa fa-map-marker" title="ubicación"></app-section-title>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Calle y numero" ngbTooltip="Calle y numero" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Colonia" ngbTooltip="Colonia" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="C.P." ngbTooltip="C.P." type="text" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Teléfono" ngbTooltip="Teléfono" type="tel" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Entidad federativa" ngbTooltip="Entidad federativa" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="Minucipio o delegación" ngbTooltip="Minucipio o delegación" type="text" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input placeholder="En el extrangero" ngbTooltip="En el extrangero" type="text" class="form-control">
      </div>
    </div>

    <div class="col-sm-4 text-left">
      <button class="btn btn-info btn-sm m-0 pull-left" ngbTooltip="Nuevo Registro"><i
        class="fa fa-plus fa-lg"></i></button>
    </div>

  </div>
</div>
<div>
  <div class="row">
    <div class="col-sm-4 offset-8">
      <button type="button" class="float-right btn btn-success">Continuar</button>
    </div>
  </div>
</div>


