<app-section-title icon="fa fa-address-book" title="BITACORA DE INGRESOS"></app-section-title>
<div class="row">
  <div class="col text-right mb-3">
    <button (click)="openSearchModal(searchModal)" class="btn btn-primary m-0 pull-right">Busqueda</button>
    <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
           [(ngModel)]="filter"
           placeholder="Buscar">
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">
        Folio
      </th>
      <th class="text-center">
        Nombre
      </th>


      <th class="text-center" style="min-width: 5rem">Detalle</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p };">
      <td class="text-center"> {{item.folio}}</td>
      <td class="text-center">{{item.apodo.nombre}} {{item.apodo.apellidoPaterno}} {{item.apodo.apellidoPaterno}} </td>
      <td class="text-center">
        <i class="fa fa-eye" (click)="add(formModal2);seeDetails(item)"></i>

      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
    </tr>
    </tbody>
  </table>

</div>

<ng-template #formModal let-formModal>
  <div class="modal-body text-center">
    <h3>Bitácora de Ingresos</h3>
    <br>
    <form class="form-horizontal" name="form" #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="" class="form-text text-muted">Nombre del imputado:</label>
            <input name="nombreImputado" class="form-control" type="text"
                  />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha de ingreso:</label>
            <input type="text" class="form-control" 
                   onfocus="(this.type='date')"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Lugar de nacimiento:</label>
            <input name="lugarNacimiento" class="form-control" type="text"
                  />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Carpeta de investigación:</label>
            <input name="carpetaInvestigacion" class="form-control" type="text"
                  />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Hora de ingreso:</label>
            <input type="text" class="form-control"
                   onfocus="(this.type='time')"/>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha y hora de detención:</label>
            <input type="text" class="form-control"
                   onfocus="(this.type='datetime-local')"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Juzgado:</label>
            <input name="juzgado" class="form-control" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha de ampliación:</label>
            <input type="text" class="form-control"
                   onfocus="(this.type='date')"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha de vinculación:</label>
            <input type="text" class="form-control"
                   onfocus="(this.type='date')"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <label for="" class="form-text text-muted">Delito:</label>
            <input name="Delito" class="form-control" type="text" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Causa penal:</label>
            <input name="causaPenal" class="form-control" type="text"/>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="form-text text-muted">Autoridad que ordena:</label>

            <input name="quienOrdena" class="form-control" type="text" placeholder=""/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group shadows">
            <label for="" class="form-text text-muted">Tipo PPL:</label>
            <select class="form-control shadows" name="tipoPR">
              <option disabled selected>Seleccione</option>
              <option value="Cereso">Común</option>
              <option value="Cereso">Federal</option>
              <option value="Cereso">Primodelincuente</option>
              <option value="Cefereso">Reincidente</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center text-sm-right">
          <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cancelar</button>
          <button type="submit" class="btn btn-success">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #searchModal let-searchModal>
  <div class="modal-body text-center">
    <app-busqueda-huellas></app-busqueda-huellas>
  </div>
</ng-template>

<ng-template #formModal2 let-formModal>
  <div class="modal-body text-center">
    <h3>Bitácora de Ingresos</h3>
    <br>

    <form class="form-horizontal" name="form" #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <h6>Nombre del imputado</h6>
            <label>Roberto Lopez Lopez</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Fecha de ingreso</h6>
            <label>{{ingreso.fechaRegistro|date}}</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Lugar de nacimiento</h6>
            <label>{{ingreso.estadoNacimiento.nombre}}</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Carpeta de investigación</h6>
            <label>2365</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Hora de ingreso</h6>
            <label>17:59 </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Fecha y hora de detención</h6>
            <label>17:59 </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Juzgado</h6>
            <label>250</label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Fecha de ampliación</h6>
            <label>250</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Fecha de vinculación</h6>
            <label>250</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Delito</h6>
            <label>Ataque peligroso</label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Causa Penal</h6>
            <label>causa penal</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Autoridad que ordena</h6>
            <label>autoridad</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <h6>Tipo C-F-P-R</h6>
            <label>Primodelincuente</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center text-sm-right">
          <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cerrar</button>

        </div>
      </div>
    </form>
  </div>

</ng-template>
