.login {
  background-image: url('../../../assets/img/fondo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  height: 100vh;
}

.form {
  width: 100%;
  max-width: 32rem;
  margin: auto;
  margin-top: 20vh;
  padding-left: 5rem;

  .title {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
  }
}

.recover {
  cursor: pointer;
  width: 13rem;
  text-align: center;
  color: #ffffff;
  margin: auto;

  .borde {
    border-bottom: 1px solid #ffffff;
    padding-top: 5px;
  }
}

.recover:hover {
  color: #cdcdcd;

  .borde {
    border-bottom: 1px solid #cdcdcd;
  }
}


.title {
  color: #1E2D3B;
}

.derechos {
  text-align: center;
  margin-top: 10rem;
  font-size: 12px;
  color: white;
  padding-left: 2%;
}

.logo {
  height: auto;
  width: 20rem;
  margin-bottom: 10px;
}


@media (max-width: 765px) {
  .form {
    max-width: 20rem;
    padding-left: 0;

    .title {
      font-size: 1.2rem;
    }
  }

  .title {
    font-size: 1.3rem;
  }

  .first {
    display: none;
  }

  .login {
    background-position: right;
    background-size: auto;
  }
}
