<app-section-title icon="fa fa-tasks" title="CENTRO ESCOLAR"></app-section-title>
<div class="row">
    <div class="col-md-8">
        <h3>Historia clinica odontologíca</h3>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="Folio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Nombre de la PPL :</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Persona privada de su libertad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Edad:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Edad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Sexo:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Sexo" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Fecha de nacimiento:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Fecha de nacimiento" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">Talla:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Talla" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Peso:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Peso" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">T/A:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="T/A" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">F/C:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="F/C" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">FR:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="FR" />
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label for="">Sintomatología:</label>
            <textarea class=" form-control" cols="100" placeholder="Sintomatología" rows="3" value=""></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-2">
        <h4>¿Padece o ha padecido alguno de los siguientes transtornos?</h4>
    </div>
    <div class="col-md-5 mt-4">
        <label>Fiebre reumatica</label>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="">Si/No:</label>
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Datos:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Enfermedad del corazón</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Enfermedad del riñón</label>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="custom-control custom-checkbox text-center">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3"></label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Tuberculosis</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Ulceras</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Hepatitis, Icteria o enfermedad del hígado</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Artritis</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Diabetes</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck8">
            <label class="custom-control-label" for="customCheck8"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Desmayos o convulsiones</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck9">
            <label class="custom-control-label" for="customCheck9"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Alérgico</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck10">
            <label class="custom-control-label" for="customCheck10"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Enfermedades de transmisión sexual</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck11">
            <label class="custom-control-label" for="customCheck11"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>Hipertensión y/o hipotensión</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck12">
            <label class="custom-control-label" for="customCheck12"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Tiene tos persistente o expectora sangre al toser?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck13">
            <label class="custom-control-label" for="customCheck13"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Siente dolor en el pecho al hacer algún esfuerzo?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck14">
            <label class="custom-control-label" for="customCheck14"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Le falta el aire después de realizar algún ejercicio por mínimo que sea?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck15">
            <label class="custom-control-label" for="customCheck15"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Respira por la boca?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck16">
            <label class="custom-control-label" for="customCheck16"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Le sangran las encías al cepillarse?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck17">
            <label class="custom-control-label" for="customCheck17"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Le rechinan los dientes por la noche o los aprieta constantemente durante el día?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck18">
            <label class="custom-control-label" for="customCheck18"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Tiene dolor en los oídos o cerca de ellos y/o algún zumbido?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck19">
            <label class="custom-control-label" for="customCheck19"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Tiene o ha tenido algún tumor en la boca o garganta?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck20">
            <label class="custom-control-label" for="customCheck20"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Ha presentado infecciones ultimamente por hongo (Candida o algodoncilloen la boca o garganta)?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck21">
            <label class="custom-control-label" for="customCheck21"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Te encuentras embarazada?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck22">
            <label class="custom-control-label" for="customCheck22"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Es paciente psiquiátrico?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck23">
            <label class="custom-control-label" for="customCheck23"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Es asmatico?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck24">
            <label class="custom-control-label" for="customCheck24"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>

    <div class="col-md-5">
        <label>¿Tiene antecedentes de enfermedades heredo familiares (Diabetes, Hipertensión, Cencer, etc.)?</label>
    </div>
    <div class="col-md-1">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck25">
            <label class="custom-control-label" for="customCheck25"></label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center text-sm-right">
        <button type="button" class="btn btn-success mr-3">Guardar</button>
        <button type="submit" class="btn btn-success mr-3">Imprimir</button>
    </div>
</div>