<app-section-title icon="fa fa-tasks" title="CENTRO ESCOLAR"></app-section-title>
<div class="row">
    <div class="col-md-8">
        <h3>Historia clinica odontologíca</h3>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="Folio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Nombre de la PPL :</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Persona privada de su libertad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Dormitorio:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Dormitorio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Fecha de nacimiento:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Fecha de nacimiento" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Edad:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Edad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Escolaridad:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Escolaridad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Escolaridad interior:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Escolaridad interior" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Delito:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Delito" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Sentencia:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Sentencia" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Fecha de elaboración:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Fecha y lugar de ingreso" />
        </div>
    </div>
</div>