<app-section-title
  icon="fa fa-table"
  title="Reporte de visitas"
></app-section-title>
<app-finder-imputado
  [isLoading]="isLoading"
  (onSelectIngresoSearch)="searchImputado($event)"
  (onClearSearch)="cleanForm()"
></app-finder-imputado>

<div class="row">
  <div class="col md-9 mt-4 mb-2">
    <h5 class="title-pink">
      Información PPL
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img
      src="https://www.w3schools.com/w3images/avatar2.png"
      class="img"
      style="max-height: 400px;"
      alt="imagen ppl"
    />
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <label>Nombre del PPL</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.nombreCompleto }}"
        />
      </div>
      <div class="col-md-3">
        <label>Fecha de Nac.</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.fechaNacimiento | date: 'dd/MM/yy' }}"
        />
      </div>
      <div class="col-md-3">
        <label>Edad</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.edad }}"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Domicilio (Calle, número y colonia)</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.domicilioCalleNumero }}"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Municipio</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.municipio }}"
        />
      </div>
      <div class="col-md-4">
        <label>Estado</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.estado }}"
        />
      </div>
      <div class="col-md-4">
        <label>Nacionalidad</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.nacionalidad }}"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Escolaridad</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.escolaridad }}"
        />
      </div>
      <div class="col-md-6">
        <label>Ocupación</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.ocupacion }}"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Fecha de Ingreso</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.fechaIngreso }}"
        />
      </div>
      <div class="col-md-6">
        <label>N. de expediente</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.numExpediente }}"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Calidad de Delicuencial</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.calidadDelincuencia }}"
        />
      </div>
      <div class="col-md-4">
        <label>Fuero</label>
        <input type="text" disabled class="form-control" value="" />
      </div>
      <div class="col-md-4">
        <label>Proceso</label>
        <input type="text" disabled class="form-control" value="" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Delitos / Causa Sentencia</label>
        <textarea
          class="form-control"
          name="listaDelitos"
          readonly
          cols="30"
          rows="10"
          [(ngModel)]="imputado.listaDelitos"
        >
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Alias</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.apodo }}"
        />
      </div>
      <div class="col-md-4">
        <label>Dormitorio</label>
        <input
          type="text"
          disabled
          class="form-control"
          value="{{ imputado.dormitorio }}"
        />
      </div>
      <div class="col-md-4">
        <label>Estatus Jurídico</label>
        <input type="text" disabled class="form-control" value="" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Fecha Libertad</label>
        <input type="text" disabled class="form-control" value="" />
      </div>
      <div class="col-md-8">
        <label>Tipo Libertad</label>
        <input type="text" disabled class="form-control" value="" />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col md-9 mt-4">
    <h5 class="title-pink">
      Bloque de visita registrada de la persona privada de la libertad
    </h5>
  </div>
</div>

<app-bloque-visitas [visitantes]="imputado.visitas || []"></app-bloque-visitas>

<div class="row">
  <div class="col-md-12">
    <button
      [disabled]="!ingreso?.id || isLoading"
      (click)="generatePDF(view)"
      type="button"
      class="btn btn-success pull-right"
    >
      Imprimir
    </button>
  </div>
</div>

<ng-template #view let-view>
  <div class="modal-body text-center pt-0">
    <i
      (click)="view.dismiss()"
      style="
        cursor: pointer;
        position: absolute;
        right: 1%;
        top: 1%;
        font-size: 20px;
      "
      class="fa fa-times-circle"
    ></i>
    <app-web-viewer
      [file]="file"
      [name]="'estudio trabajo social'"
    ></app-web-viewer>
  </div>
</ng-template>
