<app-section-title icon="fa fa-address-book" title="SABANAS DE POBLACIÓN"></app-section-title>
<div class="row">
    <div class="col text-right mb-3">
        <button class="btn btn-success m-0 pull-right" (click)="add(formModal)" [ngbTooltip]="'Nuevo Registro'"><i
                class="fa fa-plus fa-lg"></i></button>
        <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem" placeholder="Buscar">
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    Nombre PPL
                </th>
                <th class="text-center">
                    Estado
                </th>

                <th class="text-center">
                    Fecha reciente de causa penal
                </th>

                <th class="text-center" style="min-width: 5rem">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Roberto Lopez Lopez</td>
                <td class="text-center">Libertad</td>
                <td class="text-center">12/08/2019</td>

                <td class="text-center">
                    <i class="fa fa-eye" (click)="openModal(detalle)"></i>
                    <i class="fa fa-copy ml-3" placement="top" (click)="openModal(oficio)"></i>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #detalle let-detalle class="modal fade">
    <div class="modal-body text-center">
        <h3>Causas penales</h3>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            Causa penal
                        </th>
                        <th class="text-center">
                            Fecha de vencimiento
                        </th>

                        <th class="text-center">
                            Juez
                        </th>

                        <th class="text-center" style="min-width: 5rem">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1892</td>
                        <td class="text-center">12/08/2019</td>
                        <td class="text-center">Antonio Garcia</td>


                        <td class="text-center">
                            Ok

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</ng-template>

<ng-template #oficio let-oficios class="modal fade">
    <div class="modal-body text-center">
        <h3>Oficios de libertades</h3>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            Oficios
                        </th>
                        <th class="text-center">
                            Fecha
                        </th>

                        <th class="text-center">
                            Juez
                        </th>

                        <th class="text-center" style="min-width: 5rem">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1892</td>
                        <td class="text-center">12/08/2019</td>
                        <td class="text-center">Antonio Garcia</td>


                        <td class="text-center">
                            Ok

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</ng-template>