<app-section-title icon="fa fa-balance-scale" title="Causa Penal"></app-section-title>
<div class="row">
  <div *ngIf="isForm" class="col-md-12 animated flipInX">
    <div class="row">
      <div class="col-md-4">
        <input name="nombre" type="text" class="form-control" [(ngModel)]="causaPenal.nombre" placeholder="Nombre carpeta"
               #nombreV="ngModel" [ngClass]="{ 'is-invalid': !causaPenal.nombre }" maxlength="45"
               required>
      </div>
    </div>
    <br>
    <div *ngIf="role === ROLE_ARCHIVO" class="row">

      <div class="col-md-4">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Victima o agravio" name="noAveriguacion" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="A partir" onfocus="(this.type='date')" />
          <!--<input type="date" class="form-control" placeholder="Fecha de consignación" name="fechaConsignacion" />-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Juzgado" name="juzgado" />
        </div>
      </div>
    </div>
    <div *ngIf="role === ROLE_ARCHIVO" class="row">

      <div class="col-md-4">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Multa" name="multa" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Reparacion del daño" name="sentidoDeterminacion" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="form-group shadows">
            <input type="text" class="form-control" placeholder="Sentencia ejecutoriada" onfocus="(this.type='date')" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="role === ROLE_ARCHIVO" class="row">
      <div class="col-md-2 form-group shadows">
        <div>
          <h6>Penalidad</h6>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Año" name="sentidoDeterminacion" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group shadows">
          <input class="form-control" type="text" placeholder="Mes" name="sentidoDeterminacion" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="form-group shadows">
            <input class="form-control" type="text" placeholder="Dia" name="sentidoDeterminacion" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group shadows">
          <input type="text" class="form-control" placeholder="Posible fecha de compurga" onfocus="(this.type='date')" />
        </div>
      </div>
    </div>
    <div *ngIf="role === ROLE_ARCHIVO" class="row">
      <div class="col-md-2 form-group shadows">
        <h6>Tipo de proceso</h6>
      </div>
      <div class="col-md-8 form-group shadows">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="procesoComun" name="DefaultRadios">
          <label class="custom-control-label" for="procesoComun" style="font-size: 15px;">PC</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="sentidoFueroComun" name="DefaultRadios">
          <label class="custom-control-label" for="sentidoFueroComun" style="font-size: 15px;">SFC</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="procesoFederal" name="DefaultRadios">
          <label class="custom-control-label" for="procesoFederal" style="font-size: 15px;">PF</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="sentidoFueroGeneral" name="DefaultRadios">
          <label class="custom-control-label" for="sentidoFueroGeneral" style="font-size: 15px;">SFG</label>
        </div>
      </div>
    </div>
    <div *ngIf="role === ROLE_ARCHIVO" class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" placeholder="Observaciones" rows="7"></textarea>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isForm" class="col-md-4 animated flipInX">
    <button class="btn btn-info btn-sm shadows"
            (click)="submit([])">
      Agregar
    </button>
    <button class="btn btn-danger btn-sm shadows"
            (click)="toggleForm()">
      Cerrar
    </button>
  </div>
  <div *ngIf="!isForm" class="col-md-4">
    <button class="btn btn-info btn-sm shadows"
            (click)="toggleForm()">
      Agregar
    </button>
  </div>
  <div class="col text-right mb-3">
    <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
           [(ngModel)]="filter" placeholder="Buscar">
  </div>
</div>
<div *ngIf="!isForm" [ngClass]="{'': isForm}" class="table-responsive ">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sort('clave')" class="text-center">
        <span *ngIf="key == 'clave'" class="fa"
              [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span> Nombre causa penal
      </th>
      <th (click)="sort('fecha')" class="text-center">
        <span *ngIf="key == 'fecha'" class="fa"
              [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span> Fecha de Registro
      </th>

      <th class="text-center" style="min-width: 5rem">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{'tr' + i}}"
        *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td class="text-center">{{item.nombre}}</td>
      <td class="text-center">{{item.fechaRegistro | date:'dd/MM/yy h:mm a'}}</td>
      <td class="text-center">
        <i class="fa fa-pencil" placement="top" ngbTooltip="Actiualizar" (click)="update(item)"></i> &nbsp;
        <i class="fa fa-trash" placement="top" ngbTooltip="Eliminar" (click)="delete(item)"></i> &nbsp;
        <i class="fa fa-th-list" placement="top" ngbTooltip="Ver delitos" (click)="SeeDelitos(item)"></i> &nbsp;
      </td>
    </tr>

    <tr *ngIf="data.length == 0">
      <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="text-center w-100">
    <pagination-controls autoHide="true" responsive="true" previousLabel="" nextLabel="" (pageChange)="switch($event)">
    </pagination-controls>
  </div>
</div>
