<app-section-title icon="fa fa-tasks" title="TRABAJO SOCIAL"></app-section-title>
<div class="row">
    <div class="col-md-8">
        <h3>Generales de la PPL</h3>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" name="duenoMedio" placeholder="Folio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Nombre de la PPL :</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Persona privada de su libertad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Fecha de ingreso:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Fecha de ingreso" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Edad:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Edad" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Dormitorio:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Dormitorio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Delito:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Delito" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Sentencia:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Sentencia" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Estado civil:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Estado civil" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Programado en visita intima:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Programado en visita intima" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Día:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Día" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Horario:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Horario" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Visita familia:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Visita familia" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Frecuencia:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Frecuencia" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="">Que actividad realiza al terminar la visita familiar:</label>
            <textarea class=" form-control" cols="100" placeholder="Que actividad realiza al terminar la visita familiar" rows="9" value=""></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Taller asignado:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Taller asignado" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Día:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Día" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Horario:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Horario" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Fecha de inicio:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Fecha de inicio" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Lugar:</label>
            <input type="text" class="form-control" name="duenoMedio" placeholder="Lugar" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="">Observaciones:</label>
            <textarea class=" form-control" cols="100" placeholder="Observaciones" rows="9" value=""></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center text-sm-right">
        <button type="button" class="btn btn-success mr-3">Guardar</button>
        <button type="submit" class="btn btn-success mr-3">Imprimir</button>
    </div>
</div>