<form class="form-horizontal" name="form" novalidate>
    <app-section-title icon="fa fa-sign-in" title="Pase Mensual"></app-section-title>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h5>CENTRO ESTATAL DE REINSERCION SOCIAL "MORELOS" PASE PROVISIONAL</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group shadows">
                <input class="form-control" type="text" placeholder="Nombre del visitante" name="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group shadows">
                <div class="form-group">
                    <select class="form-control shadows" name="tipoDelito">
                        <option disabled selected>Parentesco...</option>
                        <option value="">Abogado(a)</option>
                        <option value="">Abuelo(a)</option>
                        <option value="">Abuelo(a) político</option>
                        <option value="">Amigo(a)</option>
                        <option value="">Bisabuelo(a)</option>
                        <option value="">Comadre</option>
                        <option value="">Compadre</option>
                        <option value="">Concubino(a)</option>
                        <option value="">Consuegro(a)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group shadows">
                <input class="form-control" type="text" placeholder="Nombre del PPL" name="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group shadows">
                <div class="form-group">
                    <select class="form-control shadows" name="tipoDelito">
                        <option disabled selected>Dormitorio...</option>
                        <option value="">Dormitorio 1</option>
                        <option value="">Dormitorio 2</option>
                        <option value="">Dormitorio 3</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group shadows">
                <input class="form-control" type="text" placeholder="Numero de permiso" name="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group shadows">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Fecha de expedición"
                        onfocus="(this.type='date')" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleFormControlTextarea3" style="font-size: 15px;">Nombre de los menores de edad</label>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group shadows">
                <input class="form-control" type="text" placeholder="Trabajadora Social" name="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group shadows">
                <input class="form-control" type="text" placeholder="Director" name="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group shadows">
                <p>
                    <strong>NOTAS IMPORTANTES:</strong><br>
                </p>
                <ul>
                    <li>ESTIMADO VISITANTE ESTE PASE PROVISIONAL ES PERSONAL, UNICO E INTRANSFERIBLE.</li>
                    <li>SE OTORGA EXCLUSIVAMENTE A FAMILIARES DE LA PPL EN LINEA DIRECT.</li>
                </ul>
                <p style="text-align: justify;">
                    ESTE PASE SE LE PERMITIRA PODER ACCESAR AL CERESO MORELOS PARA VER A SU FAMILIAR PPL, LOS DIAS DE
                    VISITA FAMILIAR, SI NO LO TRAE CONSIGO EL DIA QUE VISITE A SU FAMILIAR NO PODRA INGRESAR AL INTERIOR
                    DEL CERESO. <strong>EN CASO DE EXTRAVIO O PERDIDA DE ESTE PASE NO HABRA REPOSICIÓN.</strong>
                </p>
                <br>
                <p style="text-align: justify;">
                    <strong>A LA FECHA DE VENCIMIENTO DE ESTE PASE, USTED DEBERA CUBRIR TODOS LOS REQUISITOS</strong>
                    COMO
                    VISITAFAMILIAR,
                    LOS CUALES SON: <strong>ACTA DE NACIMIENTO </strong>(ORIGINAL Y 2 COPIAS), <strong>COMPROBANTE DE
                        DOMICILIO RECIENTE</strong>:
                    AGUA, LUZ Ó TELEFONO (ORIGINAL Y 2 COPIAS), <strong>CREDENCIAL DE ELECTOR </strong>(ORIGINAL Y 2
                    COPIAS),<strong> 2 FOTOS
                        INFANTIL</strong>.<br>
                    NOTAS: LOS DATOS DEL DOMICILIO, DE LA CREDENCIAL DE ELECTOR Y EL COMPROBANTE DE VIVIENDA DEBEN
                    COINCIDIR. EN
                    CASO CONTRARIO DEBERA PRESENTAR UNA CONSTANCIA DE RESIDENCIA. LA DOCUMENTACIÓN SE LA RECIBIRAN DE
                    LUNES
                    A VIERNES DE 9:00 A 16:00 HORAS EN EL AREA DE TRABAJO SOCIAL. PARA FAMILIARES QUE RESIDEN FUERA DEL
                    ESTADO DE MORELOS
                    PUEDEN REALIZAR EL TRAMITE SABADOS Y DOMINGOS.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center text-sm-right">
                <button type="button" class="btn btn-danger mr-3">Imprimir</button>
                <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>

</form>