.avatar {
  zoom: 70%;
  border-radius: 1.375rem;
  background-color: transparent;
}


.fiscalia-title-top {
  cursor: default;
  font-size: 14.5px;
}


.text-role {
  font-size: 12px;
  cursor: default;
}

.dropdown-toggle::after {
  vertical-align: 1em !important;
}

.role {
  color: green;
  text-align: right;
}
