<app-ingreso-navigation [freeMenu]="arrayAlias.length > 0" step="0"></app-ingreso-navigation>

<app-section-title icon="fa fa-user-circle-o" title="Nombres y Alias"></app-section-title>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Apellido paterno:</label>
      <input class="form-control shadows" type="text" name="apellidoPaternoAlias" [(ngModel)]="alias.apellidoPaterno" #apellidoPaternoAlias="ngModel" maxlength="45" [ngClass]="{ 'is-invalid':  apellidoPaternoAlias.touched && apellidoPaternoAlias.invalid }"/>

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Apellido materno:</label>
      <input class="form-control shadows" type="text" name="apellidoMaternoAlias" [(ngModel)]="alias.apellidoMaterno" #apellidoMaternoAlias="ngModel" maxlength="45" [ngClass]="{ 'is-invalid':  apellidoMaternoAlias.touched && apellidoMaternoAlias.invalid }"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Nombre:</label>
      <input class="form-control shadows" type="text" name="nombreAlias" [(ngModel)]="alias.nombre" #nombreAlias="ngModel" maxlength="45" [ngClass]="{ 'is-invalid':  nombreAlias.touched && nombreAlias.invalid }" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Apodo:</label>
      <input class="form-control shadows" type="text" name="aliasNombre" [(ngModel)]="alias.otro" #aliasNombre="ngModel" [ngClass]="{ 'is-invalid':  aliasNombre.touched && aliasNombre.invalid }" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <button type="button" [disabled]="this.ingreso.id == null" class="btn btn-info btn-sm shadows" (click)="addAlias([nombreAlias, apellidoPaternoAlias, apellidoMaternoAlias, aliasNombre])">
        Agregar
      </button>
      <!--      <button [disabled]="arrayAlias.length >= 5 || this.ingreso.id == null" (click)="addAlias([nombreAlias, apellidoPaternoAlias, apellidoMaternoAlias, aliasNombre])"-->
      <!--              type="button" class="btn btn-info btn-sm shadows"><i class="fa fa-plus fa-2x mr-2"></i>-->
      <!--      </button>-->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table shadows">
      <thead>
      <tr>

        <th class="text-center">Apellido Paterno</th>
        <th class="text-center">Apellido Materno</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Apodo</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of arrayAlias">

        <td class="text-center">{{item.apellidoPaterno}}</td>
        <td class="text-center">{{item.apellidoMaterno}}</td>
        <td class="text-center">{{item.nombre}}</td>
        <td class="text-center">{{item.otro}}</td>
        <td class="text-center">
          <!--          <i class="fa fa-times mr-3" placement="top" ngbTooltip="Eliminar"-->
          <!--             (click)="deleteAlias(item)"></i>-->
          <i *ngIf="!item.principal" class="fa fa-flag-o" ngbTooltip="Poner como principal" (click)="setPrincialAlias(item)"></i>
          <i *ngIf="item.principal" class="fa fa-flag-checkered" ngbTooltip="Nombre principal"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <!--Datos expediente-->
    <div>
        <app-section-title icon="fa fa-folder" title="Datos del expediente"></app-section-title>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo de imputado:</label>
                    <select ngbTooltip="Tipo imputado" class="form-control shadows" name="tipoimputado" required #tipoImputado="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoImputado.invalid}" [(ngModel)]="ingreso.tipoImputado">
            <option [value]="undefined" disabled hidden>Tipo imputado</option>
            <option value="Imputado">Imputado</option>
            <option value="Ingreso">Ingreso</option>
          </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Folio:</label>
                    <input class="form-control shadows" name="folio" type="text" #folio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && folio.invalid}" maxlength="45" [(ngModel)]="ingreso.folio" readonly/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Clasificación:</label>
                    <select class="form-control shadows" name="clasificacion" #clasificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clasificacion.invalid}" [(ngModel)]="ingreso.clasificacion">
            <option [value]="undefined" disabled hidden>Clasificación</option>
            <option value="Federal">Federal</option>
            <option value="Estatal">Estatal</option>
          </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Número de expediente:</label>
                    <input class="form-control shadows" name="expediente" type="text" #expediente="ngModel" maxlength="10" minlength="1" [ngClass]="{ 'is-invalid': f.submitted && expediente.invalid}" [(ngModel)]="ingreso.numeroExpediente"
                        required readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo de ingreso:</label>
                    <select ngbTooltip="Tipo de ingreso" class="form-control shadows" name="tipoIngreso" #tipoIngreso="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoIngreso.invalid}" [(ngModel)]="ingreso.tipoIngreso" required>
            <option [value]="undefined" disabled hidden>Tipo de ingreso</option>
            <option value="Primo delincuente">Primo delincuente</option>
            <option value="Reincidente">Reincidente</option>
          </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Número control RENIP:</label>
                    <input class="form-control shadows" maxlength="10" minlength="1" name="numeroRenip" #numeroRenip="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numeroRenip.invalid}" [(ngModel)]="ingreso.numeroControlRenip"
                        pattern='^[0-9]*$' />
                </div>

            </div>
        </div>
    </div>
    <!--Datos personales-->
    <div>
        <app-section-title icon="fa fa-male" title="Datos personales"></app-section-title>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group shadows">
                    <label>Fecha de nacimiento:</label>
                    <input type="date" class="form-control" name="fechaNacimiento" (change)='change($event)' #fechaNacimiento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid}"
                        [(ngModel)]="ingreso.imputado.fechaNacimiento" required/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Edad aparente:</label>
                    <input class="form-control" name="edadAparente" min="5" max="120" pattern='^[0-9]*$' #edadAparente="ngModel" [ngClass]="{ 'is-invalid': f.submitted && edadAparente.invalid}" [(ngModel)]="ingreso.imputado.edadAparente"
                        required/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Género:</label>
                    <select ngbTooltip="Género" class="form-control shadows" name="genero" [(ngModel)]="ingreso.imputado.genero" #genero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && genero.invalid}" required>
            <option [value]="undefined" disabled hidden>Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Religión:</label>
                    <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.religion" [ngbTypeahead]="search" (focus)="selectArrayTofilter(religiones)" [resultTemplate]="rt" [inputFormatter]="formatter" name="model" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado civil:</label>
                    <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.estadoCivil" [ngbTypeahead]="search" (focus)="selectArrayTofilter(estadosCiviles)" [resultTemplate]="rt" [inputFormatter]="formatter" name="estadosCiviles" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Número de hijos:</label>
                    <input class="form-control shadows" max="22" min="0" name="numeroHijos" #numeroHijos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numeroHijos.invalid}" [(ngModel)]="ingreso.imputado.numeroHijos"
                        pattern='^[0-9]*$' />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Ocupación:</label>
                    <input class="form-control shadows" maxlength="150" name="ocuacion" #ocupacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ocupacion.invalid}" [(ngModel)]="ingreso.imputado.ocupacion" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Grado de estudios:</label>
                    <input class="form-control shadows" maxlength="150" name="ocuacion" #gradoEstudio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gradoEstudio.invalid}" [(ngModel)]="ingreso.imputado.gradoEstudio"
                    />
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Etnia:</label>
                    <input class="form-control shadows" type="text" name="etnia" #etnia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && etnia.invalid}" maxlength="20" [(ngModel)]="ingreso.imputado.etnia" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input name="esIndigena" type="checkbox" class="custom-control-input" id="esIndigena" [(ngModel)]="ingreso.imputado.esIndigena" #esIndigena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && esIndigena.invalid}">
                        <label class="custom-control-label" for="esIndigena">Es indígena</label>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input name="hablaIndigena" type="checkbox" class="custom-control-input" id="hablaIndigena" [(ngModel)]="ingreso.imputado.hablaIndigena" #hablaIndigena="ngModel" [value]="ingreso.imputado.hablaIndigena" [ngClass]="{ 'is-invalid': f.submitted && hablaIndigena.invalid}">
                        <label class="custom-control-label" for="hablaIndigena">Habla indígena</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre del padre:</label>
                    <input class="form-control shadows" type="text" name="padre" maxlength="80" #padre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && padre.invalid}" [(ngModel)]="ingreso.imputado.nombrePadre"
                    />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre de la madre:</label>
                    <input class="form-control shadows" type="text" name="madre" maxlength="80" #madre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && madre.invalid}" [(ngModel)]="ingreso.imputado.nombreMadre"
                    />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input name="finadoPadre" type="checkbox" class="custom-control-input" id="finadoPadre" [(ngModel)]="ingreso.imputado.finadoPadre" #finadoPadre="ngModel" [value]="ingreso.imputado.finadoPadre" [ngClass]="{ 'is-invalid': f.submitted && finadoPadre.invalid}">
                        <label class="custom-control-label" for="finadoPadre">Padre finado</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input name="finadoMadre" type="checkbox" class="custom-control-input" id="finadoMadre" [(ngModel)]="ingreso.imputado.finadoMadre" #finadoMadre="ngModel" [value]="ingreso.imputado.finadoMadre" [ngClass]="{ 'is-invalid': f.submitted && finadoMadre.invalid}">
                        <label class="custom-control-label" for="finadoMadre">Madre finado</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-section-title title="Lugar de Nacimiento" icon="fa fa-info"></app-section-title>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Nacionalidad:</label>
                <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.paisNacimiento" [ngbTypeahead]="searchNacionalidad" (focus)="selectArrayTofilter(paises)" [resultTemplate]="nacionalidad" [inputFormatter]="formatterNacionalidad" name="nacionalidad"
                />
            </div>
        </div>
        <div class="col-md-4">
            <label>Estado:</label>
            <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.estadoNacimiento" [ngbTypeahead]="search" (focus)="selectArrayTofilter(estados)" [resultTemplate]="rt" [inputFormatter]="formatter" name="estado" />
        </div>
        <div class="col-md-4">
            <label>Municipio:</label>
            <input class="form-control shadows" type="text" name="municipioNacimiento" #municipioNacimiento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && municipioNacimiento.invalid}" maxlength="45" [(ngModel)]="ingreso.imputado.municipioNacimiento"
            />
        </div>
    </div>
    <app-section-title title="Domicilio" icon="fa fa-home"></app-section-title>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Estado:</label>
                <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.estadoDomicilio" [ngbTypeahead]="search" (focus)="selectArrayTofilter(estados)" [resultTemplate]="rt" [inputFormatter]="formatter" name="estado" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Municipio:</label>
                <input type="text" class="form-control" [(ngModel)]="ingreso.imputado.municipioDomicilio" name="municipio" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Colonia:</label>
                <input class="form-control" type="text" name="colonia" #colonia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && colonia.invalid}" [(ngModel)]="ingreso.imputado.colonia" />
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Calle y número:</label>
                <input class="form-control" type="text" name="calleNumero" maxlength="60" #calleNumero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calleNumero.invalid}" [(ngModel)]="ingreso.imputado.calleNumero"
                />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Código postal:</label>
                <input class="form-control" type="text" name="cp" pattern='^[0-9]*$' #cp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cp.invalid}" maxlength="5" [(ngModel)]="ingreso.imputado.codigoPostal" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-success shadows" style="width: 15rem;" type="submit">Guardar</button>
        </div>
    </div>
</form>

<app-carpeta-investigacion-imputado *ngIf="ingreso?.id" [ingresoId]="ingreso.id" [personaId]="ingreso.personaIngresada.id"></app-carpeta-investigacion-imputado>
<app-causa-penal-ingreso *ngIf="ingreso?.id" role="DACTILOSCOPIA" [ingresoId]="ingreso.id" [personaId]="ingreso.personaIngresada.id"></app-causa-penal-ingreso>
<!--Footer-->
<div class="row">
    <div class="col-md-12 text-right">
        <button (click)="goToSenasParticulares()" class="btn btn-success shadows" style="width: 15rem;" type="submit">
      Continuar
    </button>
    </div>
</div>

<ng-template #delitoModal let-delitoModal>
    <div class="modal-body text-center">
        <app-delito from="component"></app-delito>
        <div class="text-center pt-4">
            <button class="btn-sm btn btn-danger" type="reset" (click)="delitoModal.close(true)">Cerrar</button>
        </div>
    </div>
</ng-template>


<ng-template #rt let-r="result" let-t="term">

    <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #nacionalidad let-r="result" let-t="term">
    <ngb-highlight [result]="r.nacionalidad" [term]="t"></ngb-highlight>
</ng-template>
