<app-section-title icon="fa fa-unlock" title="liberación imputado"></app-section-title>
<div class="row">
  <div class="col text-right mb-3">
    <button class="btn btn-success m-0 pull-right" (click)="add(formModal)" [ngbTooltip]="'Nuevo Registro'"><i
      class="fa fa-plus fa-lg"></i></button>
    <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
           [(ngModel)]="filter"
           placeholder="Buscar">
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sort('numero')" class="text-center">
          <span *ngIf="key == 'numero'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Número
      </th>
      <th (click)="sort('nombre')" class="text-center">
          <span *ngIf="key == 'nombre'" class="fa"
                [ngClass]="{'fa-chevron-circle-down': reverse, 'fa-chevron-circle-up': !reverse}"></span>
        Nombre Imputado
      </th>
      <th (click)="sort('libertad')" class="text-center">
          <span *ngIf="key == 'libertad'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Fecha Libertad
      </th>
      <th (click)="sort('delito')" class="text-center">
          <span *ngIf="key == 'delito'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Delito
      </th>
      <th (click)="sort('tipo')" class="text-center">
          <span *ngIf="key == 'tipo'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Tipo R-P
      </th>
      <th class="text-center" style="min-width: 5rem">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{'tr' + i}}"
        *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td class="text-center">{{item.numero}}</td>
      <td class="text-center">{{item.nombreImputado}}</td>
      <td class="text-center">{{item.fechaLibertad | date:'dd/MM/yy'}}</td>
      <td class="text-center">{{item.delito}}</td>
      <td class="text-center">{{item.tipo == 'primodilincuente' ? 'P' : 'R'}}</td>
      <td class="text-center">
        &nbsp;
        <i class="fa fa-eye" placement="top" ngbTooltip="Ver detalles" (click)="seeDetails(item, formModal)"></i>
        &nbsp;
      </td>
    </tr>

    <tr *ngIf="data.length == 0">
      <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="text-center w-100">
    <pagination-controls autoHide="true" responsive="true" previousLabel="" nextLabel="" (pageChange)="switch($event)">
    </pagination-controls>
  </div>
</div>

<ng-template #formModal let-formModal>
  <div class="modal-body">
    <h3>Liberación de ingreso</h3>
    <br>
    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Nombre imputado:</label>
            <input [readOnly]="isDetails" name="nombre" class="form-control" type="text"
                    required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha de libertad:</label>
            <input [readOnly]="isDetails" name="fechaLibertad" class="form-control" type="text"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Fecha de ingreso:</label>
            <input [readOnly]="isDetails" name="fechaIngreso" class="form-control" type="text"
                    required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Causa penal:</label>
            <input [readOnly]="isDetails" name="causaPenal" class="form-control" type="text"
                  
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Juzgado:</label>
            <input [readOnly]="isDetails" name="causaPenal" class="form-control" type="text"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Delito:</label>
            <input [readOnly]="isDetails" name="delito" class="form-control" type="text"
                   required/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="form-text text-muted">Tipo de Libertad:</label>
            <input [readOnly]="isDetails" name="tipoLibertad" class="form-control" type="text"
                   required/>
          </div>
        </div>
        <div class="col-sm-4">
          <select class="form-control" name="tipo">
            <option disabled selected>Tipo</option>
            <option>primodelincuente</option>
            <option>reincidente</option>
          </select>
        </div>


      </div>

      <div class="col-sm-12 text-center text-sm-right">
        <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cancelar</button>
        <button type="submit" class="btn btn-success">Aceptar</button>
      </div>

    </form>
  </div>
</ng-template>
