<app-section-title icon="fa fa-table" title="Registro de visitas"></app-section-title>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>{{ time | date: "medium" }}</h1>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="codigoBarras">Código de barras:</label>
      <input type="text" name="codigoBarras" id="codigoBarras" class="form-control" [(ngModel)]="codigoBarras"
        (keyup.enter)="searchVisita()" >
    </div>
  </div>
  <div class="col-md-4 mt-2 pt-2">
    <button [disabled]="isLoading" class="btn btn-success" (click)="searchVisita()" type="submit">
      Buscar
    </button>
  </div>
</div>
<div *ngIf="referencia.tipoPase == 'credencial' || referencia.tipoPase == 'pase'" class="row">
  <div class="col-md-4 text-center">
    <img alt='' src="{{
        referencia.fotoPerfil
          ? 'data:image/png;base64,' + referencia.fotoPerfil
          : 'assets/img/no_image.png'
      }}" >
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="">Nombre del visitante:</label>
      <p>
        {{ referencia?.nombre }} {{ referencia?.apellidoPaterno }}
        {{ referencia?.apellidoMaterno }}
      </p>
    </div>
    <div class="form-group">
      <label for="">Fecha de nacimiento:</label>
      <p>{{ referencia?.fechaNacimiento | date: "shortDate" }}</p>
    </div>
    <div class="form-group">
      <label for="">Edad:</label>
      <p>{{ referencia?.edad }}</p>
    </div>
    <div class="form-group">
      <label>Nombre del imputado:</label>
      <p>{{ referencia?.imputado }}</p>
    </div>
  </div>

  <div *ngIf="referencia.fechaEntrada == null" class="col-md-4">
<!--    <ul class="list-group">
      <li class="list-group-item" *ngFor="let menor of menores; let i = index;" (click)="menor.selected = !menor.selected; menor.selected ? menoresSelected.push(i) : menoresSelected.splice(i, 1);" [ngClass]="{'bg-light': menor.selected}">
        {{menor.nombre}} {{menor.apellidoPaterno}} {{menor.apellidoMaterno}}
      </li>
    </ul>-->
    <div class="ml-3">
      <div *ngFor="let menor of menores; let i = index;" class="label-size">
        <input
          [value]="menor.nombre+' '+menor.apellidoPaterno+' '+menor.apellidoMaterno"
          [checked]="menor.selected"
          (change)="onChangeMinor($event)"
          name="menoresCheckbox"
          type="checkbox"
          class="form-check-input">
        <label style="font-size: 16px!important;"
        >{{menor.nombre}} {{menor.apellidoPaterno}} {{menor.apellidoMaterno}}</label
        >
      </div>

    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit" [disabled]="isLoading" (click)="saveIngresoVisita()">
        Registrar visita
      </button>
    </div>
  </div>




    <div *ngIf="referencia.fechaEntrada != null" class="col-md-4">
      <p>Menores: {{ referencia?.menoresEntrada }}</p>
    <div class="form-group">
      <label for="">Fecha de entrada:</label>
      <p>{{ referencia?.fechaEntrada | date: "shortDate" }}</p>
    </div>
    <div class="form-group">
      <label for="">Hora de entrada:</label>
      <p>{{ referencia?.horaEntrada }}</p>
    </div>

    <form *ngIf="referencia.horaSalida == null" name="form" (ngSubmit)="f.form.valid && saveSalidaVisita()" #f="ngForm"
      novalidate>
      <div class="form-group text-center">
        <button [disabled]="isLoading" class="btn btn-success" type="submit">
          Registrar salida
        </button>
      </div>
    </form>

    <div *ngIf="referencia.horaSalida != null">
      <div class="form-group">
        <label for="">Fecha de entrada:</label>
        <p>{{ referencia?.fechaSalida | date: "shortDate" }}</p>
      </div>
      <div class="form-group">
        <label for="">Hora de entrada:</label>
        <p>{{ referencia?.horaSalida }}</p>
      </div>
    </div>
  </div>
</div>
