<app-ingreso-navigation step="2"></app-ingreso-navigation>

<div>
  <app-section-title icon="fa fa-male" title="Coordinación"></app-section-title>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <img class="img" id="map" src="assets/img/human-body-back.png" usemap="#image-map">
      <map name="image-map">
        <!--      Cabeza-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="91,350,172,354,184,328,188,299,159,280,127,279,104,283,83,296,82,324" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"n
              coords="54,373,91,350,83,329,81,300,67,312,56,333,52,356" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="217,374,173,352,183,333,186,316,188,300,202,315,211,331,216,352" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="56,388,54,376,92,349,172,354,216,374,214,387,200,395,190,407,188,421,178,431,176,447,178,460,159,468,139,470,114,467,95,458,96,445,91,429,84,423,82,406,73,395"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="89,471,96,459,119,469,126,538,117,544,111,556,89,550,71,539,59,529,69,514,75,497,78,482,84,477"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="128,539,138,539,146,472,120,471" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="147,472,162,467,179,462,193,475,194,496,200,515,209,529,194,544,173,554,152,558,151,546,140,538"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="78,479,91,469,96,451,93,434,84,424,78,437,67,444,75,460" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="193,474,203,444,194,438,188,423,178,432,176,447,180,463" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="203,446,214,428,220,413,227,398,222,390,211,389,200,396,192,406,189,428" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="69,443,78,434,84,423,80,407,72,396,59,389,47,394,47,409" shape="poly">
        <area target="_parent" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="133,556,19" shape="circle">
        
        <area target="" alt="" title="" href="#" data-toggle='modal' data-target="#myModal" 
              coords="187,318,217,376,178,352,215,342,184,335,193,305,207,324,219,357,198,366" shape="poly">

        <!--      Pie izquierdo-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="261,588,257,609,244,618,228,642,229,658,245,674,277,680,286,647,287,629,292,624,307,606,281,600,273,588"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="222,653,214,663,199,684,178,724,173,739,194,728,208,710,217,688,223,667" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="175,745,163,754,158,772,166,777,167,790,173,800,182,810,191,812,195,821,202,825,214,835,223,832,228,819,230,809,243,800,248,789,222,785,195,770"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="227,655,220,687,201,724,175,742,195,768,216,779,243,785,239,740,245,720,256,698,267,683,244,676"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="275,684,265,716,257,751,257,777,248,791,241,762,244,721,253,703,264,688" shape="poly">
        <!--      Mano izquierda-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="377,51,356,65,340,77,308,65,287,40,313,19,327,32,349,45"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="337,81,325,107,313,132,287,156,261,142,240,138,223,122,213,113,217,98,213,73,230,59,267,45,285,41,301,62,319,72"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="287,158,249,193,232,204,229,198,215,205,210,199,199,203,190,192,195,183,186,180,185,169,212,117,194,122,176,120,184,103,208,79,219,98,215,106,230,134,262,142,274,144,236,137,229,131,230,134"
              shape="poly">
        <!--      Cuerpo izquierda-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="430,107,433,117,431,126,450,141,455,125,453,114,445,98" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="449,99,461,97,473,99,468,110,467,121,466,136,461,141,451,142,456,132,457,122,454,110"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="490,109,489,126,478,135,470,139,467,123,469,112,474,98" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="429,127,446,141,440,157,422,167,395,173,384,168,372,159,379,151,401,146,416,139" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="369,158,372,179,364,198,354,212,338,220,337,203,341,181,355,162" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="349,220,341,273,340,321,320,321,334,275,334,224" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="307,352,298,372,293,403,299,415,305,385,313,360" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="315,359,340,366,328,395,314,417,301,415,304,392" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="341,367,358,365,337,402,322,422,315,419,333,392" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="291,411,282,426,310,440,320,423,302,420" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="283,426,256,446,246,461,261,460,283,461,304,469,309,442,294,436" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="351,216,365,212,382,243,344,330,342,276" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="384,240,398,215,367,213" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="374,163,392,173,420,171,432,166,441,200,440,222,428,239,414,245,386,244,400,217,360,209"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="447,151,436,165,440,189,442,221,438,229,441,241,447,245" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="452,142,465,143,462,243,449,247" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="435,231,426,244,411,249,395,248,403,323,432,309,447,296,447,250" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="374,266,382,280,391,301,387,331,402,327,398,278,394,248,383,244" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="381,283,364,341,351,328,373,272" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="387,334,402,331,403,350,391,353,377,358" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="405,328,404,351,430,357,450,331,445,322,447,314,445,298" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="374,364,366,411,375,423,380,436,406,444,431,452,452,445,481,452,498,446,515,439,526,430,539,419,535,378,533,365,512,355,493,352,471,361,454,374,437,364,415,357,397,354"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="367,417,365,437,364,464,377,454,382,439,377,425" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="366,470,372,513,382,555,393,578,390,537,381,497" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="397,589,421,580,444,580,436,538,435,498,439,457,422,453,413,450,398,444,385,436,377,455,368,467,380,492,392,529"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="453,447,451,582,445,584,437,539,437,494,442,454" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="451,584,435,581,413,583,397,594,401,634,425,639,450,632" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="401,638,437,641,441,701,427,706,411,699,403,659" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="414,702,427,707,441,704,445,800,433,793" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="398,644,424,761,414,749,400,720,395,689,395,670" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="421,762,423,795,407,820,401,825,440,825,426,815,433,797" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="434,796,445,800,445,814,439,819,433,820,430,812,430,805" shape="poly">
        
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="305,348,317,358,331,364,344,365,357,363,363,355,360,339,348,328,326,320,308,328" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="332,344,9" shape="circle">



        <!--      Cuerpo derecha-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="454,328,432,358,441,364,451,373,461,364,473,358" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="467,299,464,317,460,327,473,356,488,353,500,351,501,327,485,318" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="506,330,525,330,531,360,520,356,504,353" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="481,237,466,247,463,293,503,322,518,249,495,247" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="481,235,479,197,489,168,478,158,467,144,463,243,474,240" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="531,286,540,274,533,241,521,243,513,282,505,324,526,330,523,300" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="490,129,481,136,471,141,490,169,515,170,542,165,545,158,504,147" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="482,235,480,198,489,170,514,176,544,165,544,187,548,203,545,210,529,217,515,214,517,224,526,238,505,245"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="539,279,531,288,541,312,547,338,558,330" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="543,214,530,236,517,217" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="548,208,564,219,567,285,575,318,559,326,543,284,535,237,543,227" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="547,162,566,177,576,201,575,223,556,211,543,184,543,171" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="566,223,575,225,577,278,581,303,590,320,575,319,566,283" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="553,369,562,394,586,421,593,419,581,395,568,370" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="571,369,597,358,611,411,595,421" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="598,356,604,353,613,377,617,403,612,411" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="619,408,624,426,596,439,589,424" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="596,439,624,429,647,446,656,460,661,471,647,460,635,462,619,458,602,464,595,456" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="536,463,544,468,541,505,527,553,513,582,513,546,527,489" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="538,419,527,435,526,447,542,468" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="466,455,482,455,500,446,526,431,528,447,533,463,524,492,515,523,511,552,511,593,492,579,470,579,459,580,470,526,472,477"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="452,448,451,584,460,580,469,533,473,496,465,452" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="454,585,474,580,496,584,510,593,505,631,482,638,460,638,451,631" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="460,639,461,700,475,704,487,699,501,636,479,641" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="461,707,488,702,470,800,460,797" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="460,800,461,822,471,818,472,801" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="504,640,476,778,484,763,497,733,508,690" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="480,780,474,791,467,826,503,827,480,807" shape="poly">
        
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="544,343,550,365,569,367,587,361,597,354,603,344,594,327,587,321,570,323,556,330" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="572,344,9" shape="circle">

        <!--      Mano derecha-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="605,25,626,45,609,64,581,79,560,68,545,55,574,46" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="629,47,658,53,703,81,695,96,695,116,682,128,672,140,658,142,628,159,604,146,582,97,577,79,606,68"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="704,81,737,117,737,122,701,119,728,163,726,180,722,188,720,199,718,206,707,204,700,205,690,204,675,195,676,207,663,207,657,198,627,164,646,152,669,142,683,131,693,102"
              shape="poly">
        <!--      Pie derecho-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="642,578,645,593,659,610,676,626,679,648,669,662,650,669,636,667,623,657,619,638,610,620,601,607"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="623,657,642,683,668,721,668,755,659,787,644,768,645,710,630,688,623,671" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="638,677,662,668,681,653,688,693,706,717,728,726,714,757,694,770,661,782,674,729,655,692"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="682,654,705,674,720,705,732,725,713,718,691,696,688,675,682,666" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="731,730,742,747,746,759,738,772,739,788,729,792,722,807,718,816,707,819,703,828,684,831,678,816,659,787,682,781,713,759"
              shape="poly">
      </map>
    </div>
    <div class="text-center">
      <img class="img" id="map-front" src="assets/img/human-body-front.png" usemap="#image-front-map">
      <map name="image-front-map">
        <!--        Cabeza-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="167,262,157,274,137,261,116,256,99,257,77,264,65,278,55,263,70,250,101,238,132,240,152,248"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="55,266,66,284,69,299,66,325,47,330,43,305" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="49,333,56,347,56,373,41,351,39,338" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="51,333,62,330,65,343,57,346" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="64,278,83,262,103,258,124,259,139,263,157,274,153,296,158,325,133,315,124,324,119,333,106,334,101,320,87,314,77,318,65,324,73,300"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="167,263,179,278,184,297,183,328,161,325,155,304,154,278" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="63,329,82,317,94,319,102,328,100,345,88,352,77,350,65,346" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="61,346,59,369,59,382,79,365,85,355" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="104,345,100,362,89,378,83,395,88,408,97,416,97,430,68,409,59,386,80,370,88,355" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="159,325,162,345,141,353,123,347,122,330,130,322,139,319" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="106,338,120,336,124,351,129,372,136,383,89,381,103,364" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="142,357,149,374,162,382,167,386,158,406,145,417,125,431,127,418,139,408,144,390,130,370,126,350"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="89,384,137,386,142,400,127,415,98,418,83,402" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="67,411,77,422,99,482,95,495,67,472,58,450" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="101,418,98,427,123,431,126,416" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="78,421,110,432,124,432,150,418,125,488,115,484,101,486" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="180,336,190,339,186,352,179,367,172,376,167,366" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="162,331,162,348,171,345,179,333" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="168,348,165,367,166,379,147,370,140,358" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="162,409,159,428,161,439,173,456,159,479,128,498,127,490,152,416" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="112,485,126,493,124,511,110,515,97,506,95,493,102,485" shape="poly">
        <!--        Mano Derecha-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="266,29,306,58,296,68,288,75,248,42,259,36" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="268,61,285,79,283,95,276,107,257,129,250,106,251,88,259,74" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="247,42,218,55,204,60,189,69,196,79,200,88,220,92,231,86,241,80,247,67,250,57" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="239,146,226,134,210,129,194,125,183,116,163,144,163,156,168,160,167,173,172,176,180,169,182,176,191,175,197,175,208,176"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="250,46,266,57,256,75,251,92,250,104,254,125,238,145,221,128,207,125,199,122,190,118,181,112,184,100,194,94,210,93,229,91,242,82,250,64"
              shape="poly">
        <!--        Pie Derecho-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="231,528,285,515,286,522,277,526,272,530,267,535,264,541,263,554,267,568,241,575,244,556,242,543"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="265,567,240,576,235,582,229,588,219,591,201,615,213,627,227,632,246,635,262,634,274,632,282,613,281,588,277,581"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="233,535,240,546,242,560,239,573,231,584,220,588" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="284,526,288,541,290,552,282,578,270,570,264,556,266,538,273,529" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="273,633,266,648,257,674,242,682,217,683,200,677,184,670,175,662,167,657,180,635,189,626,197,617,212,627,236,635"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="259,680,256,701,223,727,203,731,198,722,184,725,178,718,170,718,168,707,162,701,159,689,157,681,167,659,186,672,205,681,225,681"
              shape="poly">
        <!--        Pie Izquierdo-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="485,511,535,532,524,542,521,549,521,558,500,558,495,530,484,523" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="482,525,478,540,478,548,484,576,494,566,498,540,491,527" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="535,534,540,551,542,559,553,588,541,589,532,583,522,567,523,550,526,539" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="497,559,517,560,533,585,546,593,552,593,564,612,543,622,522,627,508,629,496,627,487,616,483,601,483,582"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="495,627,518,632,532,631,552,626,562,619,566,613,582,631,594,652,578,664,567,671,550,676,509,675,508,656"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="512,676,516,697,544,723,562,723,567,713,582,721,591,717,595,709,601,706,602,697,606,692,608,683,612,677,594,653,582,665,542,677"
              shape="poly">
        <!--        Mano izquierda-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="501,28,455,58,476,74,513,41" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="514,42,569,61,594,85,613,108,623,120,620,128,606,125,585,101,564,94,535,90,515,70" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="496,58,478,75,486,99,493,111,508,127,510,99" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="513,46,497,57,506,79,510,112,510,126,527,138,550,130,561,127,575,117,585,103,560,95,531,86,516,74"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="585,106,606,149,602,157,602,169,591,172,585,177,574,171,572,176,549,162,541,157,530,137,556,129,577,120"
              shape="poly">
        <!--        Cuerpo frente-->
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="347,554,342,548,335,573,334,591,344,620,353,651,361,687,366,669,356,640,349,608,345,580"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="372,555,368,583,371,636,382,687,383,544" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="347,555,357,558,370,554,368,575,368,612,373,653,380,682,384,692,364,690,369,670,355,631,346,590"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="385,550,397,555,399,616,386,681" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="399,556,407,557,416,556,420,589,415,619,404,655,398,677,400,691,383,691,385,682,398,641,399,582"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="417,555,424,550,430,570,429,597,419,628,409,663,404,699,398,681,407,647,418,610,421,583"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="430,502,448,459,456,406,457,371,451,337,435,366,422,404,419,452" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="315,340,332,374,340,421,339,470,333,501,318,474,307,424,307,375" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="334,379,367,368,352,357,316,339" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="394,368,447,337,437,360,429,377,414,366" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="389,369,412,368,428,377,422,406,417,440,428,501,406,490,384,499,398,461,400,400" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="382,372,380,498,396,474,401,420,391,373" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="380,371,373,371,363,416,361,447,369,490,378,498" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="373,371,363,405,361,441,362,464,373,497,359,495,334,503,341,451,337,395,334,380,354,369"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="320,302,318,318,314,335,351,356,359,334,362,320,341,315" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="363,321,402,321,406,357,393,366,385,356,379,357,369,364,354,357" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="402,321,428,315,445,302,451,333,408,357,404,339" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="416,265,408,288,401,316,426,313,448,298,439,280" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="350,265,332,278,320,300,335,310,361,318,361,294" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="352,264,359,283,364,318,397,319,406,294,414,265,402,247,379,245,359,249" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="286,279,278,271,265,291,254,324,247,355,256,360,258,336,264,311,276,288" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="258,361,279,345,293,319,300,294,302,286,287,280,274,295,261,319,257,338" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="301,284,309,285,307,304,296,330,286,349,273,366,261,363,279,348,297,313" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="315,256,312,265,311,284,292,281,276,270,279,259,282,247" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="287,179,290,193,291,211,291,233,283,241" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="292,177,306,191,321,211,312,228,308,250,289,248,296,226,290,200" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="320,217,323,230,319,254,309,254,311,234" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="320,207,335,215,342,241,331,253,324,245,325,232" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="329,258,330,277,348,266,363,248,368,226,365,205,353,211,337,214,344,240" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="368,199,382,218,395,201,380,195" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="369,209,381,218,398,205,396,229,401,249,383,243,365,246" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="401,207,409,211,427,213,421,234,437,256,439,279,417,264,404,250,397,227" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="454,200,448,221,439,251,426,243,423,226,429,214" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="365,140,374,132,382,141,388,136,396,144,387,165,388,183,394,197,370,195,379,181,373,154"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="283,180,303,169,311,147,308,137,292,148" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="294,176,320,178,317,187,303,187" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="308,136,318,140,331,135,334,130,315,129" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="337,129,352,127,361,118,350,119" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="335,132,339,140,358,143,371,134,361,118,356,127" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="400,122,412,127,428,129,429,138,412,143,398,144,390,135" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="423,126,408,117,402,122,414,128" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="429,128,429,136,442,142,461,137,449,129" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="461,138,474,152,484,181,465,175,451,159,453,145" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="463,178,436,176,451,197" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="453,215,457,227,458,252,448,252,444,241" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="474,184,466,179,454,194,454,209,458,253,473,250,472,199" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="475,183,483,184,484,245,475,249,473,201" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="449,255,468,255,482,247,490,272,473,276,458,278" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="456,280,467,281,472,311,480,336,500,360,492,363,468,331,460,306" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="467,280,479,279,493,295,501,312,507,331,510,356,503,359,493,349,475,323" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="483,280,490,274,506,296,513,317,516,336,518,348,511,354,508,325" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="520,351,523,363,501,374,495,364" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="338,526,333,518,334,505,350,499,362,495,372,498,381,500,397,498,409,496,420,501,431,504,428,525,421,524,416,515,407,511,396,512,396,524,379,524,372,516,355,511,347,521,351,531,364,535,379,522,393,529,399,535,408,535,413,531,426,534,425,547,412,553,393,552,383,542,377,547,366,551,356,555,350,552,343,549"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal" coords="408,521,12"
              shape="circle">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal" coords="358,520,12"
              shape="circle">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="322,186,325,175,300,173,311,156,314,141,333,137,343,144,366,145,374,163,376,179,359,179,346,173,312,190,315,199,321,206,329,206,350,210,366,205,372,196,376,181,363,183,358,190,348,193,342,188,342,176"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="450,196,435,178,426,180,425,191,413,194,405,188,405,179,412,175,419,175,426,171,463,174,450,144,430,141,415,143,409,146,397,144,389,165,389,190,403,204,430,213,444,207"
              shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="421,179,411,177,408,191,422,191" shape="poly">
        <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
              coords="348,174,341,187,352,193,360,182" shape="poly">

      </map>
    </div>

  </div>
</div>

<!--<div class="row">
    <div class="col-md-12">
        <label>Seña particular</label>
        <div class=" form-group">
            <textarea class=" form-control" cols="80" placeholder="Seña particular" rows="4" value=""></textarea>
        </div>
    </div>
</div>-->
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-success shadows" style="width: 15rem;" type="submit">Continuar</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h3>Seña Particular</h3>
            <div class=" form-group">
                            <textarea class=" form-control" cols="80" placeholder="Seña particular" rows="4" value=""
                                      ngbTooltip="Seña particular"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center text-sm-right">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success shadows">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

