<app-ingreso-navigation step="2" ></app-ingreso-navigation>

<div>
  <app-section-title icon="fa fa-male" title="Coordinación"></app-section-title>
</div>

<div class="row">
  <div class="col-md-12">
    <img id="map" src="assets/img/human-body-back.png" usemap="#image-map">
    <map name="image-map">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="91,350,172,354,184,328,188,299,159,280,127,279,104,283,83,296,82,324" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="54,373,91,350,83,329,81,300,67,312,56,333,52,356" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="217,374,173,352,183,333,186,316,188,300,202,315,211,331,216,352" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="56,388,54,376,92,349,172,354,216,374,214,387,200,395,190,407,188,421,178,431,176,447,178,460,159,468,139,470,114,467,95,458,96,445,91,429,84,423,82,406,73,395"
            shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="89,471,96,459,119,469,126,538,117,544,111,556,89,550,71,539,59,529,69,514,75,497,78,482,84,477"
            shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="128,539,138,539,146,472,120,471" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="147,472,162,467,179,462,193,475,194,496,200,515,209,529,194,544,173,554,152,558,151,546,140,538"
            shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="78,479,91,469,96,451,93,434,84,424,78,437,67,444,75,460" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="193,474,203,444,194,438,188,423,178,432,176,447,180,463" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="203,446,214,428,220,413,227,398,222,390,211,389,200,396,192,406,189,428" shape="poly">
      <area target="" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="69,443,78,434,84,423,80,407,72,396,59,389,47,394,47,409" shape="poly">
      <area target="_parent" alt="" title="" href="#" data-toggle="modal" data-target="#myModal"
            coords="133,556,19" shape="circle">
    </map>
  </div>
</div>

<!--<div class="row">
    <div class="col-md-12">
        <label>Seña particular</label>
        <div class=" form-group">
            <textarea class=" form-control" cols="80" placeholder="Seña particular" rows="4" value=""></textarea>
        </div>
    </div>
</div>-->
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-success shadows" style="width: 15rem;" type="submit">Continuar</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h3>Seña Particular</h3>
            <div class=" form-group">
                            <textarea class=" form-control" cols="80" placeholder="Seña particular" rows="4" value=""
                                      ngbTooltip="Seña particular"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center text-sm-right">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success shadows">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
