<app-section-title icon="fa fa-book" title="BITACORA DE IMPUTADOS"></app-section-title>
<div class="row">
    <div class="col text-right mb-3">
        <button class="btn btn-success m-0 pull-right" (click)="add(formModal)" [ngbTooltip]="'Nuevo Registro'"><i
                class="fa fa-plus fa-lg"></i></button>
        <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
            placeholder="Buscar">
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    No.
                </th>
                <th class="text-center">
                    Nombre
                </th>

                <th class="text-center">
                    Fecha y hora de ingreso
                </th>
                <th class="text-center">
                    Fecha de libertad
                </th>
                <th class="text-center">
                    Delito
                </th>
                <th class="text-center">
                    Causa penal
                </th>
                <th class="text-center">
                    Juzgado
                </th>
                <th class="text-center">
                    Tipo de libertad
                </th>
                <th class="text-center">
                        Medida Cautelar
                    </th>
                <th class="text-center">
                    Tipo P-R
                </th>
                <th class="text-center" style="min-width: 5rem">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">658</td>
                <td class="text-center">Roberto Lopez Lopez</td>
                <td class="text-center">12/08/2019 17:25</td>
                <td class="text-center">20/12/2022</td>
                <td class="text-center">Ataque peligroso</td>
                <td class="text-center">Causa penal</td>
                <td class="text-center">250</td>
                <td class="text-center">bajo fianza</td>
                <td class="text-center">La prohibición de salir del país</td>
                <td class="text-center">R</td>
                <td class="text-center">
                    <i class="fa fa-eye"></i>

                </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #formModal let-formModal>
    <div class="modal-body text-center">
        <h3>Bitácora de imputados</h3>
        <br>
        <form class="form-horizontal" name="form" #f="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="nombreImputado" class="form-control" type="text"
                            placeholder="Nombre del imputado" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Fecha y hora de ingreso"
                            onfocus="(this.type='datetime-local')" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="carpetaInvestigacion" class="form-control" type="text"
                            placeholder="Carpeta de investación" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="Delito" class="form-control" type="text" placeholder="Delito" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="causaPenal" class="form-control" type="text" placeholder="Causa penal" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input name="medidaCautelar" class="form-control" type="text" placeholder="Medida Cautelar" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group shadows">
                        <select class="form-control shadows" name="tipoPR">
                            <option disabled selected>Tipo P-R</option>
                            <option value="Cereso">Primodelincuente</option>
                            <option value="Cefereso">Reincidente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center text-sm-right">
                    <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cancelar</button>
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>