.main-container {
  padding: 10px;
  border-radius: 7px;
}

.bg {
  background-color: #8F2D94;
}

.active-nav {
  color: black;
  background-color: #fff;
  border-radius: 7px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
