<app-section-title icon="fa fa-address-book" title="PASE UNICO"></app-section-title>
<div class="row">
    <div class="col-md-12 text-center mb-1">
        <h5>CENTRO ESTATAL DE REINSERCION SOCIAL "MORELOS" PASE UNICO</h5>
    </div>
    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Nombre del visitante">
            <input type="text" class="form-control" name="" placeholder="Nombre del visitante" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Parentesco">
            <input type="tel" class="form-control" name="duenoMedio" placeholder="Parentesco" required/>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Nombre del PPL">
            <input type="text" class="form-control" name="" placeholder="Nombre del PPL" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Dormitorio">
            <input type="text" class="form-control" name="" placeholder="Dormitorio" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Fecha de expedición">
            <input type="tel" class="form-control" name="duenoMedio" placeholder="Fecha de expedición" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Folio">
            <input type="text" class="form-control" name="" placeholder="Folio" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Nombre del menor">
            <input type="tel" class="form-control" name="duenoMedio" placeholder="Nombre del menor" required/>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Area">
            <input type="text" class="form-control" name="" placeholder="Area" required/>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group" container="body" ngbTooltip="Domicilio">
            <textarea class="form-control" placeholder="Domicilio" required>
              </textarea>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button container="body" ngbTooltip="Guardar e imprimir" type="submit" class="btn btn-success">Guardar</button>
    </div>

</div>