<app-section-title icon="fa fa-address-book" title="PASE UNICO"></app-section-title>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group" container="body" ngbTooltip="Nombre del visitante">
            <label for="">Visitante:</label>
            <input type="text" class="form-control" name="" placeholder="Nombre del visitante" required/>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group shadows">
            <div class="form-group" ngbTooltip="Dormitorio">
                <label for="">Parentesco:</label>
                <select class="form-control shadows" name="tipoDelito">
                    <option disabled selected>Parentesco...</option>
                    <option value="">Abogado(a)</option>
                    <option value="">Abuelo(a)</option>
                    <option value="">Abuelo(a) político</option>
                    <option value="">Amigo(a)</option>
                    <option value="">Bisabuelo(a)</option>
                    <option value="">Comadre</option>
                    <option value="">Compadre</option>
                    <option value="">Concubino(a)</option>
                    <option value="">Consuegro(a)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" container="body">
            <label for="">PPL:</label>
            <input type="text" class="form-control" name="" placeholder="Nombre del PPL" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group" container="body">
            <label for="">Área:</label>
            <input type="text" class="form-control" name="" placeholder="Área" required/>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label for="">Dirección:</label>
            <textarea class=" form-control" cols="100" placeholder="Dirección" rows="4" value=""></textarea>
        </div>
    </div>

    <div class="col-md-4">
        <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck23" [(ngModel)]="isMenores">
            <label class="custom-control-label" for="customCheck23">¿Viene con menores</label>
        </div>
    </div>

    <ng-container *ngIf="isMenores">
        <h4>Datos del menor</h4>
        <div class="col-sm-6">
            <div class="form-group" container="body" ngbTooltip="Nombre del visitante">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" name="" placeholder="Nombre del menor" required/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group shadows">
                <div class="form-group" ngbTooltip="Dormitorio">
                    <label for="">Parentesco:</label>
                    <select class="form-control shadows" name="tipoDelito">
                        <option disabled selected>Parentesco...</option>
                        <option value="">Abogado(a)</option>
                        <option value="">Abuelo(a)</option>
                        <option value="">Abuelo(a) político</option>
                        <option value="">Amigo(a)</option>
                        <option value="">Bisabuelo(a)</option>
                        <option value="">Comadre</option>
                        <option value="">Compadre</option>
                        <option value="">Concubino(a)</option>
                        <option value="">Consuegro(a)</option>
                    </select>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="col-md-12 text-right">
        <button container="body" ngbTooltip="Guardar e imprimir" type="submit" class="btn btn-success">Guardar</button>
    </div>
</div>