<div class="row">
  <div class="col-md-2 text-center">
    <label><i class="fa fa-building fa-2x mr-2" aria-hidden="true"></i>CENTROS PENITENCIARIOS</label>
  </div>
  <div class="col-md-10">
    <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
  </div>
</div>
<div class="row">
  <div class="col text-right mb-3">
    <button class="btn btn-success m-0 pull-right" (click)="add(formModal)" [ngbTooltip]="'Nuevo Registro'"><i
      class="fa fa-plus fa-lg"></i></button>
    <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
           [(ngModel)]="filter"
           placeholder="Buscar">
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sort('clave')" class="text-center">
          <span *ngIf="key == 'clave'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Clave
      </th>
      <th (click)="sort('nombre')" class="text-center">
          <span *ngIf="key == 'nombre'" class="fa"
                [ngClass]="{'fa-chevron-circle-down': reverse, 'fa-chevron-circle-up': !reverse}"></span>
        Nombre
      </th>
      <th (click)="sort('custodios')" class="text-center">
          <span *ngIf="key == 'custodios'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Número de custodios
      </th>
      <th (click)="sort('internos')" class="text-center">
          <span *ngIf="key == 'internos'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Capacidad de internos
      </th>
      <th (click)="sort('administrativos')" class="text-center">
          <span *ngIf="key == 'administrativos'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Número de administrativos
      </th>
      <th class="text-center" style="min-width: 5rem">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{'tr' + i}}"
        *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td class="text-center">{{item.clave}}</td>
      <td class="text-center">{{item.nombre}}</td>
      <td class="text-center">{{item.numeroCustodios}}</td>
      <td class="text-center">{{item.capacidadInternos}}</td>
      <td class="text-center">{{item.numeroAdministrativos}}</td>
      <td class="text-center">

         <i class="fa fa-bed" placement="top" ngbTooltip="Ver dormitorios" (click)="seeDormitorios(item)"></i>
        &nbsp;&nbsp;
        <i class="fa fa-book" placement="top" ngbTooltip="Ver tipo de actividades" (click)="seeActividades(item)"></i>
        &nbsp;
        <i class="fa fa-pencil" placement="top" ngbTooltip="Modificar" (click)="update(item, formModal)"></i>
        &nbsp;
        <i *ngIf="item.estatus" class="fa fa-toggle-on" (click)="toggleStatus(item)" placement="top"
           ngbTooltip="Deshabilitar"></i>
        <i *ngIf="!item.estatus" class="fa fa-toggle-off" (click)="toggleStatus(item)" placement="top"
           ngbTooltip="Habilitar"></i>
      </td>
    </tr>

    <tr *ngIf="data.length == 0">
      <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="text-center w-100">
    <pagination-controls autoHide="true" responsive="true" previousLabel="" nextLabel="" (pageChange)="switch($event)">
    </pagination-controls>
  </div>
</div>

<ng-template #formModal let-formModal>
  <div class="modal-body text-center">
    <app-section-title icon="fa fa-building" title="Registro de C.P."></app-section-title>
    <br>
    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <div class="row">

        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Nombre</label>
            <input name="nombre" class="form-control" type="text" ngbTooltip="Nombre"
                   [(ngModel)]="centroPenitenciario.nombre" #nombre="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid}"
                   minlength="3"
                   maxlength="45" required/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Tipo Centro</label>
            <app-select placeholder=" " required ngbTooltip="Tipo de Centro" [options]="tipoCentros" [multiple]="false"
                        [modelo]="centroPenitenciario.tipoCentroSelect"
                        (getModel)="centroPenitenciario.tipoCentroSelect = $event;"></app-select>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Descripción</label>
            <input name="descripcion" class="form-control" type="text" ngbTooltip="Descripción"
                   [(ngModel)]="centroPenitenciario.descripcion" #descripcion="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid}"
                   maxlength="255" required/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Estado</label>
            <app-select placeholder=" " required ngbTooltip="Seleccione estado" [options]="estados" [multiple]="false"
                        [modelo]="centroPenitenciario.estadoSelect"
                        (getModel)="centroPenitenciario.estadoSelect = $event; onSelectEstado(); getEstados('mexico',null)"></app-select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Municipio</label>
            <app-select placeholder=" " required ngbTooltip="Seleccione municipio" [options]="municipios" [multiple]="false"
                        [modelo]="centroPenitenciario.municipioSelect"
                        (getModel)="centroPenitenciario.municipioSelect = $event;"></app-select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Colonia</label>
            <input name="colonia" class="form-control" type="text" ngbTooltip="Colonia"
                   [(ngModel)]="centroPenitenciario.colonia" #colonia="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && colonia.invalid}"
                   maxlength="45" required/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Calle y número</label>
            <input name="calleNumero" class="form-control" type="text" ngbTooltip="Calle y número"
                   [(ngModel)]="centroPenitenciario.calleNumero" #calleNumero="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && calleNumero.invalid}"
                   maxlength="45" required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Capacidad de Internos</label>
            <input name="capacidadInternos" class="form-control" type="number" ngbTooltip="Capacidad de internos"
                   [(ngModel)]="centroPenitenciario.capacidadInternos" #capacidadInternos="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && capacidadInternos.invalid}"
                   pattern='^[0-9]*$'
                   min="0"
                   max="999999"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Número de administrativos</label>
            <input name="numeroAdministrativos" class="form-control" type="number"
                   ngbTooltip="Número de administrativos"
                   [(ngModel)]="centroPenitenciario.numeroAdministrativos" #numeroAdministrativos="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && numeroAdministrativos.invalid}"
                   pattern='^[0-9]*$' min="0" max="999999" required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Número de Custodios</label>
            <input name="numeroCustodios" class="form-control" type="number" ngbTooltip="Número de custodios"
                   [(ngModel)]="centroPenitenciario.numeroCustodios" #numeroCustodios="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && numeroCustodios.invalid}"
                   pattern='^[0-9]*$' min="0" maxlength="6" required/>
          </div>
        </div>
      </div>
      <app-section-title icon="fa fa-male" title="Registro de Director"></app-section-title>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">N. de empleado</label>
                <input type="text" class="form-control" ngbTooltip="N° de empleado" [(ngModel)]="persona.numeroEmpleado"
                       #numeroEmpleado="ngModel" name="numeroEmpleado"
                       [ngClass]="{ 'is-invalid': f.submitted && numeroEmpleado.invalid }"
                       title="Solo se admiten números"
                       pattern="[0-9]{10}" maxlength="10" required>

              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">CURP</label>
                <input type="text" class="form-control" ngbTooltip="CURP" maxlength="18"
                       [(ngModel)]="persona.curp" #curp="ngModel" name="curp">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Nombre(s)</label>
                <input type="text" class="form-control" ngbTooltip="Nombre"
                       [(ngModel)]="persona.nombre" #nombrePersonal="ngModel" name="nombrePersonal"
                       [ngClass]="{ 'is-invalid': f.submitted && nombrePersonal.invalid }" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">N. de seguro social</label>
                <input type="text" class="form-control" ngbTooltip="N° de seguro social" pattern="[0-9]{11}"
                       maxlength="11" title="Solo se admiten números"
                       [(ngModel)]="persona.numSeguroSocial" #numSeguroSocial="ngModel" name="numSeguroSocial"
                       [ngClass]="{ 'is-invalid': f.submitted && numSeguroSocial.invalid }">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Tipo Sanguíneo</label>
                <select ngbTooltip="Tipo sanguineo" class="form-control shadows" name="tipoSanguineo"
                        [(ngModel)]="persona.tipoSanguineo" #tipoSanguineo="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && tipoSanguineo.invalid}">
                  <option [value]="'A+'">A+</option>
                  <option [value]="'A-'">A-</option>
                  <option [value]="'B+'">B+</option>
                  <option [value]="'B-'">B-</option>
                  <option [value]="'AB+'">AB+</option>
                  <option [value]="'AB-'">AB-</option>
                  <option [value]="'O+'">O+</option>
                  <option [value]="'O-'">O-</option>
                </select>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Teléfono fijo</label>
                <input type="tel" class="form-control" ngbTooltip="Teléfono fijo"
                       [(ngModel)]="persona.telefonoFijo" #telefonoFijo="ngModel" name="telefonoFijo"
                       [ngClass]="{ 'is-invalid': f.submitted && telefonoFijo.invalid }" title="Solo se admiten números"
                       pattern="[0-9]{10}" maxlength="10">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Teléfono celular</label>
                <input type="tel" class="form-control" ngbTooltip="Teléfono celular" maxlength="10"
                       [(ngModel)]="persona.telefonoCelular" #telefonoCelular="ngModel"
                       name="telefonoCelular" [ngClass]="{ 'is-invalid': f.submitted && telefonoCelular.invalid }"
                       title="Solo se admiten números" pattern="[0-9]{10}" maxlength="10">
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Área</label>
                <app-select placeholder=" " ngbTooltip="Área" [search]="false" [options]="listAreas"
                            [multiple]="false" [modelo]="this.persona.areaSelect" aria-required="true"
                            (getModel)="this.persona.areaSelect = $event;"></app-select>

              </div>

            </div>

            <div class="col-sm-6">
              <div class="form-group text-left">
                &nbsp;<label class="text-muted" for="">Sub área</label>
                <input type="text" class="form-control" ngbTooltip="Sub área"
                       [(ngModel)]="persona.subArea" #subArea name="subArea">
              </div>
            </div>

            <div class="col-sm-12">

            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="assets/img/no_image.png" alt="frente" class="img-thumbnail shadows">
        </div>
        <div class="col-12">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Dirección</label>
            <textarea class=" form-control" cols="80" rows="4" value="" ngbTooltip="Dirección"
                      [(ngModel)]="persona.direccion" #direccion name="direccion"
                      maxlength="255 "
            ></textarea>

          </div>
        </div>
        <div class="col-4">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Usuario</label>
            <input type="text" class="form-control" ngbTooltip="Usuario"
                   [(ngModel)]="user.username" #username name="username">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group text-left">
            &nbsp;<label class="text-muted" for="">Contraseña</label>
            <input type="password" class="form-control" ngbTooltip="Contraseña" minlength="5"
                   [(ngModel)]="user.password" #password name="password">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12 text-center text-sm-right">
          <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cancelar</button>
          <button type="submit" class="btn btn-success">Aceptar</button>
        </div>

      </div>

    </form>
  </div>
</ng-template>
