<div class="row">
  <div class="col-sm-3 text-center">
    <h5>Centros Penitenciarios</h5>
  </div>
  <div class="col-sm-9">
    <hr style="background-color: #CE9ACB; height: 1px">
  </div>
</div>
<br>
<div class="row">
  <div class="col text-right mb-3">
    <button class="btn btn-success m-0 pull-right" (click)="add(formModal)" [ngbTooltip]="'Nuevo Registro'"><i
      class="fa fa-plus fa-lg"></i></button>
    <input type="text" class="form-control form-control-sm pull-right mr-2" style="max-width: 12rem"
           [(ngModel)]="filter"
           placeholder="Buscar">
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sort('clave')" class="text-center">
          <span *ngIf="key == 'clave'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Clave
      </th>
      <th (click)="sort('nombre')" class="text-center">
          <span *ngIf="key == 'nombre'" class="fa"
                [ngClass]="{'fa-chevron-circle-down': reverse, 'fa-chevron-circle-up': !reverse}"></span>
        Nombre
      </th>
      <th (click)="sort('custodios')" class="text-center">
          <span *ngIf="key == 'custodios'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Número de custodios
      </th>
      <th (click)="sort('internos')" class="text-center">
          <span *ngIf="key == 'internos'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Capacidad de internos
      </th>
      <th (click)="sort('administrativos')" class="text-center">
          <span *ngIf="key == 'administrativos'" class="fa"
                [ngClass]="{'fa-chevron-circle-down':reverse, 'fa-chevron-circle-up':!reverse}"></span>
        Número de administrativos
      </th>
      <th class="text-center" style="min-width: 5rem">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{'tr' + i}}"
        *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td class="text-center">{{item.clave}}</td>
      <td class="text-center">{{item.nombre}}</td>
      <td class="text-center">{{item.numeroCustodios}}</td>
      <td class="text-center">{{item.capacidadInternos}}</td>
      <td class="text-center">{{item.numeroAdministrativos}}</td>
      <td class="text-center">

        <i class="fa fa-bed" placement="top" ngbTooltip="Ver dormitorios" (click)="seeDormitorios(item)"></i>
        &nbsp;&nbsp;
        <i class="fa fa-book" placement="top" ngbTooltip="Ver tipo de actividades" (click)="seeActividades(item)"></i>
        &nbsp;
        <i class="fa fa-pencil" placement="top" ngbTooltip="Modificar" (click)="update(item, formModal)"></i>
        &nbsp;
        <i *ngIf="item.estatus" class="fa fa-toggle-on" (click)="toggleStatus(item)" placement="top"
           ngbTooltip="Deshabilitar"></i>
        <i *ngIf="!item.estatus" class="fa fa-toggle-off" placement="top" ngbTooltip="Habilitar"></i>
        &nbsp;
<!--        <i (click)="delte(item)" placement="top" ngbTooltip="Eliminar" class="fa fa-trash-o"></i>-->
      </td>
    </tr>

    <tr *ngIf="data.length==0">
      <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="text-center w-100">
    <pagination-controls autoHide="true" responsive="true" previousLabel="" nextLabel="" (pageChange)="switch($event)">
    </pagination-controls>
  </div>
</div>

<ng-template #formModal let-formModal>
  <div class="modal-body text-center">
    <h3>Centro Penitenciario</h3>
    <br>
    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <input name="clave" class="form-control" type="text" placeholder="Clave" ngbTooltip="Clave"
                   [(ngModel)]="centroPenitenciario.clave" #clave="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && clave.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input name="nombre" class="form-control" type="text" placeholder="Nombre" ngbTooltip="Nombre"
                   [(ngModel)]="centroPenitenciario.nombre" #nombre="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <input name="descripcion" class="form-control" type="text" placeholder="Descripción"
                   ngbTooltip="Descripción"
                   [(ngModel)]="centroPenitenciario.descripcion" #descripcion="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid}"
                   required/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <app-select ngbTooltip="Estados" [options]="estados" [multiple]="false"
                        [modelo]="centroPenitenciario.estadoSelect"
                        (getModel)="centroPenitenciario.estadoSelect = $event; onSelectEstado();"></app-select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <!--            <input name="municipio" class="form-control" type="text" placeholder="Municipio" ngbTooltip="Municipio"-->
            <!--                   [(ngModel)]="centroPenitenciario.municipio" #municipio="ngModel"-->
            <!--                   [ngClass]="{ 'is-invalid': f.submitted && municipio.invalid}"-->
            <!--                   required/>-->
            <app-select ngbTooltip="Municipio" [options]="municipios" [multiple]="false"
                        [modelo]="centroPenitenciario.municipioSelect"
                        (getModel)="centroPenitenciario.municipioSelect = $event;"></app-select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input name="colonia" class="form-control" type="text" placeholder="Colonia" ngbTooltip="Colonia"
                   [(ngModel)]="centroPenitenciario.colonia" #colonia="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && colonia.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input name="calleNumero" class="form-control" type="text" placeholder="Calle y número"
                   ngbTooltip="Calle y número"
                   [(ngModel)]="centroPenitenciario.calleNumero" #calleNumero="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && calleNumero.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <input name="capacidadInternos" class="form-control" type="number" placeholder="Capacidad de internos"
                   ngbTooltip="Capacidad de internos"
                   [(ngModel)]="centroPenitenciario.capacidadInternos" #capacidadInternos="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && capacidadInternos.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <input name="numeroAdministrativos" class="form-control" type="number"
                   placeholder="Número de administrativos"
                   ngbTooltip="Número de administrativos"
                   [(ngModel)]="centroPenitenciario.numeroAdministrativos" #numeroAdministrativos="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && numeroAdministrativos.invalid}"
                   required/>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <input name="numeroCustodios" class="form-control" type="number"
                   placeholder="Número de custodios"
                   ngbTooltip="Número de custodios"
                   [(ngModel)]="centroPenitenciario.numeroCustodios" #numeroCustodios="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && numeroCustodios.invalid}"
                   required/>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12 text-center text-sm-right">
          <button type="button" (click)="formModal.close()" class="btn btn-danger mr-3">Cancelar</button>
          <button type="submit" class="btn btn-success">Aceptar</button>
        </div>

      </div>

    </form>
  </div>
</ng-template>
