<app-section-title icon="fa fa-table" title="Beneficio estatal"></app-section-title>
<app-finder-imputado [isLoading]="isLoading" (onSelectIngresoSearch)="searchImputado($event)"
    (onClearSearch)="cleanForm()"></app-finder-imputado>
<app-generalidades-ppl [generalidadesPPL]="ingreso" [inputs]="moreInputs"></app-generalidades-ppl>
<form action="">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h5 class="title-pink">Características del núcleo primario</h5>
        </div>


        <div class="col-md-4">
            <div class="form-gruop">
                <label>Grupo Familiar Funcional</label>
                <select [(ngModel)]="beneficio.grupoFamiliarFuncionalP" name="grupoFamiliarFuncionalP"
                    class="form-control">
                    <option value="funcional">Funcional</option>
                    <option value="disfuncional">Disfuncional</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-gruop">
              <label>Relaciones Interfamiliares</label>
              <select
                [(ngModel)]="beneficio.relacionesInterfamiliaresP"
                name="relacionesInterfamiliaresP"
                class="form-control"
              >
                <option value="adecuadas">Adecuadas</option>
                <option value="inadecuadas">Inadecuadas</option>
              </select>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="custom-control custom-checkbox mt-4">
              <input
                [(ngModel)]="beneficio.huboViolenciaP"
                name="huboViolenciaP"
                type="checkbox"
                class="custom-control-input"
                id="huboViolenciaP"
              />
              <label class="custom-control-label" for="huboViolenciaP">
                ¿Hubo violencia?
              </label>
            </div>
          </div>
      
          <div class="col-md-8">
            <div class="form-gruop">
              <label>Detalle Violencia</label>
              <textarea
                [(ngModel)]="beneficio.detalleViolenciaP"
                [disabled]="!beneficio.huboViolenciaP"
                [readOnly]="!beneficio.huboViolenciaP"
                name="detalleViolenciaP"
                class="form-control"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
    </div>
</form>