<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 mb-3">
                <h6> <i class="fa fa-folder fa-2x mr-2"> </i>DATOS OBTENIDOS</h6>
            </div>
            <div class="col-md-10 ">
                <hr style="background-color: #CE9ACB; height: 1px">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>federal  </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reincidente</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Folio</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Expediente</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reincidnte</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  mb-3">
                <h6> <i class="fa fa-male fa-2x mr-2"></i>DATOS GENERALES</h6>
            </div>
            <div class="col-md-10 ">
                <hr style="background-color: #CE9ACB; height: 1px">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>CURP</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>fecha <i class="fa fa-calendar ml-2 fa-sm"></i></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
            <!-- Primera parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>Juan</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Perez</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Perez</label>
                </div>
            </div>
            <!-- Segunda parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>sexo</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>nacionalidad</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Religion</label>
                </div>
            </div>
            <!-- Tercera parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado civil</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>numero de hijo</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Ocupacion</label>
                </div>
            </div>

            <!-- Cuarta parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>Escolaridad</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Padre</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Madre</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  mb-3">
                <h6> <i class="fa fa-list-alt fa-2x mr-2"></i>DATOS DEL DELITO</h6>
            </div>
            <div class="col-md-10 ">
                <hr style="background-color: #CE9ACB; height: 1px">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Delito</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Fecha </label><i class="fa fa-calendar ml-2 fa-sm"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>FEcha <i class="fa fa-calendar ml-2 fa-sm"></i></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  mb-3">
                <h6> <i class="fa fa-users fa-2x mr-2"></i>ALIAS</h6>
            </div>
            <div class="col-md-10 ">
                <hr style="background-color: #CE9ACB; height: 1px">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  mb-3">
                <h6> <i class="fas fa-clipboard-check fa-2x mr-2"></i>DATOS A COMPLETAR</h6>
            </div>
            <div class="col-md-10 ">
                <hr style="background-color: #CE9ACB; height: 1px">
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <input type="date" class="form-control" placeholder="Fecha de puesta a disposición">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de anexo a la carpeta">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de generación">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre del mp del caso">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Quien lo firma">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>

            <div class="col-md-8">
                <textarea class="form-control" placeholder="Comentarios" rows="3"></textarea>
            </div>

        </div>
    </div>
</div>