<div class="row">
    <div class="offset-md-1 col-8 col-md-10">
      <div style="padding: 20px" class="card shadows">
        <div class="row">
            <div class="col-12 text-center pb-5">
              <label class="pr-4">Formulario de ingreso</label>
              <label class="pr-4" style="color: #8f2d94;">Señas particulares</label>
              <label class="pr-4">Característica</label>
              <label class="pr-4">Dactiloscopia</label>
              <label class="pr-4">Referencias</label>
              <label>Situación penal</label>
            </div>
          </div>

        <div class="row">
            <div class="col-md-2">
                <label><i class="fa fa-folder fa-2x mr-2" aria-hidden="true"></i> DATOS DEL EXPEDIENTE</label>
            </div>
            <div class="col-md-10">
                <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.tipoImputado}}  </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reincidente</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.folio}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.expediente}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reincidente</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><i class="fa fa-male fa-2x mr-2" aria-hidden="true"></i> DATOS GENERALES</label>
            </div>
            <div class="col-md-10">
                <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.curp}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.fechaNacimiento}} <i class="fa fa-calendar ml-2 fa-sm"></i></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                </div>
            </div>
            <!-- Primera parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.nombre}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.apellidoPaterno}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.apelidoMaterno}}</label>
                </div>
            </div>
            <!-- Segunda parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>sexo</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.nacionalidad}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{religion}}</label>
                </div>
            </div>
            <!-- Tercera parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado civil</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>numero de hijo</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.ocupacion}}</label>
                </div>
            </div>

            <!-- Cuarta parte -->
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.escolaridad}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.padre}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.madre}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><i class="fa fa-file-text fa-2x mr-2" aria-hidden="true"></i> DATOS DEL DELITO</label>
            </div>
            <div class="col-md-10">
                <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.delito}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.fechaDetencion}}</label><i class="fa fa-calendar ml-2 fa-sm"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.fechaRegistro}} <i class="fa fa-calendar ml-2 fa-sm"></i></label>
                </div>
            </div>
        </div>
        <div class="row">
              <div class="col-md-2">
                    <label><i class="fa fa-users fa-2x mr-2" aria-hidden="true"></i> ALIAS</label>
                </div>
                <div class="col-md-10">
                    <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.nombreAlias}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.apellidoPaternoAlias}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ingreso.apellidoMaternoAlias}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label><i class="fa fa-check fa-2x mr-2" aria-hidden="true"></i> DATOS A COMPLETAR</label>
            </div>
            <div class="col-md-10">
                <hr style="margin-left: 5px; width: 100%; border: 1px solid #CE9ACB; size: 5; ">
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <input type="date" class="form-control shadows"  placeholder="Fecha de puesta a disposición">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="date" class="form-control shadows" placeholder="Fecha de anexo a la carpeta">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="date" class="form-control shadows" placeholder="Fecha de generación">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control shadows" placeholder="Nombre del mp del caso">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control shadows" placeholder="Quien lo firma">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                </div>
            </div>

            <div class="col-md-8">
                <textarea class="form-control shadows" placeholder="Comentarios" rows="3"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-success" style="width: 15rem;" type="submit">Continuar</button>
            </div>
        </div>
      </div>
    </div>
</div>
