<app-section-title icon="fa fa-sign-in" title="Lista de usuarios"></app-section-title>
<div class="row">
    <div class="col text-right mb-3">
        <button class="btn btn-success btn-sm m-0 pull-right" (click)="openModal(registrarUsuario)" [ngbTooltip]="'Nuevo Registro'"><i
        class="fa fa-plus fa-lg"></i></button>

    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th (click)="sort('numeroEmpleado')" class="text-center">
                    N° de empleado
                </th>
                <th (click)="sort('nombre')" class="text-center">
                    Nombre
                </th>
                <th (click)="sort('tipo')" class="text-center">
                    Área
                </th>
                <th class="text-center" style="min-width: 5rem">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td class="text-center">{{item.numeroEmpleado}}</td>
                <td class="text-center">{{item.nombre}}</td>
                <td class="text-center">{{item.area.nombre}}</td>
                <td class="text-center">
                    <i class="fa fa-pencil-square-o" placement="top" ngbTooltip="Editar usuario" (click)="updateUsuario(item,registrarUsuario)"></i> &nbsp;
                    <i *ngIf="item.estadoPersonal" class="fa fa-toggle-on" (click)="togglePersonal(item.id,'personalYSesion',0)" placement="top" ngbTooltip="Deshabilitar usuario"></i>
                    <i *ngIf="!item.estadoPersonal" class="fa fa-toggle-off" (click)="togglePersonal(item.id,'activarSoloPersonal',1)" placement="top" ngbTooltip="Habilitar usuario"></i>&nbsp;

                    <i *ngIf="item.user.enabled && item.estadoPersonal" class="fa fa-times-circle" (click)="togglePersonal(item.id,'sesion',0)" placement="top" ngbTooltip="Deshabilitar acceso"></i>
                    <i *ngIf="!item.user.enabled && item.estadoPersonal" class="fa fa-check-circle" (click)="togglePersonal(item.id,'sesion',1)" placement="top" ngbTooltip="Habilitar acceso"></i>&nbsp;
                </td>
            </tr>

            <tr *ngIf="data.length == 0">
                <td colspan="6">{{isLoading ? 'Cargando...' : 'Sin registros...'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center w-100">
        <pagination-controls autoHide="true" responsive="true" previousLabel="" nextLabel="" (pageChange)="switch($event)">
        </pagination-controls>
    </div>
</div>

<ng-template #registrarUsuario let-registroUsuarioModal>
    <div class="modal-body text-center">
        <h3>Registrar usuario</h3>
        <br>
        <form class="form-horizontal" name="form" #f="ngForm" (ngSubmit)="f.form.valid && savePersonal()" novalidate>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="N° de empleado" ngbTooltip="N° de empleado" [(ngModel)]="persona.numeroEmpleado" #numeroEmpleado="ngModel" name="numeroEmpleado" [ngClass]="{ 'is-invalid': f.submitted && numeroEmpleado.invalid }" title="Solo se admiten números"
                                    pattern="[0-9]{10}" maxlength="10" required>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="CURP" ngbTooltip="CURP" maxlength="15" [(ngModel)]="persona.curp" #curp="ngModel" name="curp">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" ngbTooltip="Nombre" [(ngModel)]="persona.nombre" #nombre="ngModel" name="nombre" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="N° de seguro social" ngbTooltip="N° de seguro social" pattern="[0-9]{11}" maxlength="11" [(ngModel)]="persona.numSeguroSocial" #numSeguroSocial="ngModel" name="numSeguroSocial" [ngClass]="{ 'is-invalid': f.submitted && numSeguroSocial.invalid }"
                                    title="Solo se admiten números">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">

                                <select ngbTooltip="Tipo sanguineo" class="form-control shadows" name="tipoSanguineo" [(ngModel)]="persona.tipoSanguineo" #tipoSanguineo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoSanguineo.invalid}">
                                    <option [value]="undefined" disabled hidden>Tipo sanguineo</option>
                                    <option [value]="'A+'">A+</option>
                                    <option [value]="'A-'">A-</option>
                                    <option [value]="'B+'">B+</option>
                                    <option [value]="'B-'">B-</option>
                                    <option [value]="'AB+'">AB+</option>
                                    <option [value]="'AB-'">AB-</option>
                                    <option [value]="'O+'">O+</option>
                                    <option [value]="'O-'">O-</option>
                                    
                                  </select>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Teléfono fijo " ngbTooltip="Teléfono fijo" [(ngModel)]="persona.telefonoFijo" #telefonoFijo="ngModel" name="telefonoFijo" [ngClass]="{ 'is-invalid': f.submitted && telefonoFijo.invalid }" title="Solo se admiten números"
                                    pattern="[0-9]{10}" maxlength="10">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Teléfono celular" ngbTooltip="Teléfono celular" maxlength="10" [(ngModel)]="persona.telefonoCelular" #telefonoCelular="ngModel" name="telefonoCelular" [ngClass]="{ 'is-invalid': f.submitted && telefonoCelular.invalid }"
                                    title="Solo se admiten números" pattern="[0-9]{10}" maxlength="10">
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <app-select placeholder="Área" ngbTooltip="Área" [search]="false" [options]="areas" [multiple]="false" [modelo]="areaSelected" aria-required="true" (getModel)="areaSelected = $event; listAreas()"></app-select>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Sub área" ngbTooltip="Sub área" [(ngModel)]="persona.subArea" #subArea name="subArea">
                            </div>
                        </div>

                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src="assets/img/no_image.png" alt="frente" class="img-thumbnail shadows">
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea class=" form-control" cols="80" placeholder="Dirección" rows="4" value="" ngbTooltip="Dirección" [(ngModel)]="persona.direccion" #direccion name="direccion"></textarea>

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario" ngbTooltip="Usuario" [(ngModel)]="user.username" #username name="username">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" ngbTooltip="Contraseña" [(ngModel)]="user.password" #password name="password">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input hidden name="roles" [(ngModel)]="user.roles" #roles="ngModel" />
                        <app-select placeholder="Rol" ngbTooltip="Rol" [search]="false" [options]="rolesLista" [multiple]="false" [modelo]="user.roles" aria-required="true" (getModel)="user.roles = $event; listRoles()"></app-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center text-sm-right">
                    <button type="button" (click)="registroUsuarioModal.close()" class="btn btn-danger mr-3">Cancelar</button>
                    <button type="submit" class="btn btn-success mr-3">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>