<app-section-title icon="fa fa-tasks" title="RESULTADO EXAMENES"></app-section-title>

<h6>Examen médico:</h6>
<div class="input-group mb-3">
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
</div>
<h6>Examen odontologíco:</h6>
<div class="input-group mb-3">
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
</div>
<h6>Examen psicologíco:</h6>
<div class="input-group mb-3">
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
</div>

<div class="row">
    <div class="col-sm-12 text-center text-sm-right">
        <button type="button" class="btn btn-success mr-3">Guardar</button>
    </div>
</div>