<app-section-title
  icon="fa fa-tasks"
  title="RESULTADO EXÁMENES"
></app-section-title>
<div class="row">
  <div class="col-md-8">
    <h3>Exámenes</h3>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="">Folio:</label>
      <form
        name="search"
        (ngSubmit)="searchImputado()"
        #formSearch="ngForm"
        novalidate
      >
        <div class="input-group">
          <div class="input-group-prepend">
            <span (click)="searchImputado()" class="input-group-text">
              <i
                class="fa {{ isLoading ? 'fa-spinner fa-spin' : 'fa-search' }}"
              >
              </i>
            </span>
          </div>
          <input
            name="folio"
            required
            [(ngModel)]="ingreso.folio"
            type="text"
            class="form-control pull-right mr-2"
            placeholder="Buscar por Folio"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12">
    <app-generalidades-ppl
      [generalidadesPPL]="ingreso.imputado"
    ></app-generalidades-ppl>
  </div>
  <div class="col-md-12">
    <h6>Examen médico:</h6>
    <div class="input-group mb-3">
      <button
        *ngIf="docs[0]?.estaRegistrado"
        [disabled]="!this.ingreso.imputado?.id"
        (click)="searchDocuments('examen_medico', view)"
        class="btn btn-success"
      >
        Archivo actual
      </button>
      <span *ngIf="!docs[0]?.estaRegistrado && this.ingreso.imputado?.id"
        >Sin Archivo</span
      >
      <input
        #fileMedico
        ng2FileSelect
        aria-describedby="fileHelp"
        (change)="uploadFile(fileMedico, 'examen_medico', uploaderMedico)"
        [uploader]="uploaderMedico"
        type="file"
        class="form-control-file btn btn-simple"
        name="fileMedico"
        accept="application/pdf"
        [disabled]="!this.ingreso.imputado?.id || isLoading"
      />
    </div>
  </div>
  <div class="col-md-12">
    <h6>Examen odontológico:</h6>
    <div class="input-group mb-3">
      <button
        *ngIf="docs[1]?.estaRegistrado"
        [disabled]="!this.ingreso.imputado?.id"
        (click)="searchDocuments('examen_odontologico', view)"
        class="btn btn-success"
      >
        Archivo actual
      </button>
      <span *ngIf="!docs[1]?.estaRegistrado && this.ingreso.imputado?.id"
        >Sin Archivo</span
      >
      <input
        #fileOdontologia
        ng2FileSelect
        aria-describedby="fileHelp"
        (change)="
          uploadFile(
            fileOdontologia,
            'examen_odontologico',
            uploaderOdontologico
          )
        "
        [uploader]="uploaderOdontologico"
        type="file"
        class="form-control-file btn btn-simple"
        name="fileOdontologia"
        accept="application/pdf"
        [disabled]="!this.ingreso.imputado?.id || isLoading"
      />
    </div>
  </div>
  <div class="col-md-12">
    <h6>Examen psicológico:</h6>
    <div class="input-group mb-3">
      <button
        *ngIf="docs[2]?.estaRegistrado"
        [disabled]="!this.ingreso.imputado?.id"
        (click)="searchDocuments('examen_psicologico', view)"
        class="btn btn-success"
      >
        Archivo actual
      </button>
      <span *ngIf="!docs[2]?.estaRegistrado && this.ingreso.imputado?.id">
        Sin Archivo
      </span>
      <input
        #filePsicologico
        ng2FileSelect
        aria-describedby="fileHelp"
        (change)="
          uploadFile(filePsicologico, 'examen_psicologico', uploaderPsicologico)
        "
        [uploader]="uploaderPsicologico"
        type="file"
        class="form-control-file btn btn-simple"
        name="filePsicologico"
        accept="application/pdf"
        [disabled]="!this.ingreso.imputado?.id || isLoading"
      />
    </div>
  </div>

  <div class="col-sm-12 text-center text-sm-right">
    <!--    <button type="button" class="btn btn-success mr-3">Guardar</button>-->
  </div>
</div>

<ng-template #view let-view>
  <div class="modal-body text-center pt-0">
    <i
      (click)="view.dismiss()"
      style="
        cursor: pointer;
        position: absolute;
        right: 1%;
        top: 1%;
        font-size: 20px;
      "
      class="fa fa-times-circle"
    ></i>
    <app-web-viewer
      [file]="file"
      [name]="'acta-de-entrevista'"
    ></app-web-viewer>
  </div>
</ng-template>
