<app-section-title
  icon="fa fa-table"
  title="Control de Entrevista"
></app-section-title>

<app-finder-imputado
  [isLoading]="isLoading"
  (onSelectIngresoSearch)="searchImputado($event)"
  (onClearSearch)="cleanForm()"
></app-finder-imputado>
<app-generalidades-ppl
  [generalidadesPPL]="ingreso.imputado"
></app-generalidades-ppl>

<div class="row">
  <div class="col-md-4 offset-8">
    <button
      [disabled]="!ingreso?.imputado?.id"
      (click)="openModal(formModal)"
      class="btn btn-success pull-right"
    >
      Agregar
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th (click)="sort('realizados')" class="text-center">
          <span
            *ngIf="key == 'realizados'"
            class="fa"
            [ngClass]="{
              'fa-chevron-circle-down': reverse,
              'fa-chevron-circle-up': !reverse
            }"
          ></span>
          Fecha de Registro
        </th>
        <th (click)="sort('tiempo')" class="text-center">
          <span
            *ngIf="key == 'tiempo'"
            class="fa"
            [ngClass]="{
              'fa-chevron-circle-down': reverse,
              'fa-chevron-circle-up': !reverse
            }"
          ></span>
          Motivo Estudio
        </th>
        <th (click)="sort('motivo')" class="text-center">
          <span
            *ngIf="key == 'motivo'"
            class="fa"
            [ngClass]="{
              'fa-chevron-circle-down': reverse,
              'fa-chevron-circle-up': !reverse
            }"
          ></span>
          Observaciones
        </th>
        <th class="text-center">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of entrevistas
            | orderBy: key:reverse
            | filter: filter
            | paginate: { itemsPerPage: 5, currentPage: p };
          let i = index
        "
        [class.active]="i === selectedRow"
      >
        <td class="text-center">
          {{ item.fechaRegistro | date: "dd/MM/yy h:mm a" }}
        </td>
        <td class="text-center">{{ item.motivoEstudio }}</td>
        <td class="text-center">{{ item.observaciones }}</td>
        <td class="text-center">
          <i
            class="fa fa-pencil"
            placement="top"
            ngbTooltip="Modificar"
            (click)="updateEntrevista(item, formModal)"
          ></i>
          &nbsp;
          <i
            class="fa fa-print"
            placement="top"
            ngbTooltip="Generar Formato"
            (click)="generatePDFEntrevista(item.id, view)"
          ></i>
          <!-- <i
            class="fa fa-trash"
            placement="top"
            ngbTooltip="Eliminar"
            (click)="deleteEntrevista(item)"
          ></i> -->
        </td>
      </tr>

      <tr *ngIf="entrevistas.length == 0">
        <td colspan="6">
          {{ isLoading ? "Cargando..." : "Sin registros..." }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center w-100">
    <pagination-controls
      autoHide="true"
      responsive="true"
      previousLabel=""
      nextLabel=""
      (pageChange)="switch($event)"
    >
    </pagination-controls>
  </div>
</div>

<ng-template #formModal let-view>
  <div class="modal-body text-center pt-0">
    <app-section-title
      icon="fa fa-table"
      title="Control de Entrevista"
    ></app-section-title>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Observaciones:</label>
          <textarea
            [(ngModel)]="entrevista.observaciones"
            #observaciones="ngModel"
            name="observaciones"
            class="form-control"
            [ngClass]="{
              'is-invalid': observaciones.touched && observaciones.invalid
            }"
            cols="30"
            rows="10"
          ></textarea>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Motivo de Estudio:</label>
              <input
                [(ngModel)]="entrevista.motivoEstudio"
                #motivoEstudio="ngModel"
                name="motivoEstudio"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid': motivoEstudio.touched && motivoEstudio.invalid
                }"
                required
                maxlength="255"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-5">
            <button
              (click)="saveEntrevista([motivoEstudio, observaciones])"
              class="btn btn-success"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #view let-view>
  <div class="modal-body text-center pt-0">
    <i
      (click)="view.dismiss()"
      style="
        cursor: pointer;
        position: absolute;
        right: 1%;
        top: 1%;
        font-size: 20px;
      "
      class="fa fa-times-circle"
    ></i>
    <app-web-viewer
      [file]="file"
      [name]="'acta-de-entrevista'"
    ></app-web-viewer>
  </div>
</ng-template>
