<app-section-title icon="fa fa-table" title="Ofrecimiento Trabajo"></app-section-title>
<div class="row">
  <div class="col-md-8">
    <h3>Generalidades PPL</h3>
  </div>
  <div class="col-md-4">
    <form name="search" (ngSubmit)="searchImputado()" #formSearch="ngForm" novalidate>
      <div class="input-group">
        <div class="input-group-prepend">
        <span (click)="searchImputado()" class="input-group-text"><i
          class="fa {{isLoading ? 'fa-spinner fa-spin' : 'fa-search'}}"></i></span>
        </div>
        <input name="folio" required [(ngModel)]="ingreso.folio" type="text"
               class="form-control pull-right mr-2"
               placeholder="Buscar por Folio">
      </div>
    </form>
  </div>
</div>
<app-generalidades-ppl [generalidadesPPL]="ingreso"></app-generalidades-ppl>
<div class="row">
    <div class="col-md-12 mt-4">
        <h3>Otros Oficios</h3>
    </div>
    <div id="card-container">
        <div class="col-md-12">
            <div class="card-deck">
    
                <div *ngFor="let format of formats" class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{format.name}}</h5>
                    <p class="card-text">{{format.description}}</p>
                    <div class="row">
                        <div class="col">
                            <button (click)="format.methodToGenerate()" class="btn btn-success pull-right">
                                Generar
                            </button>
                        </div>
                    </div>
                  </div>    
                </div>
    
            </div>
        </div>
    </div>
    
</div>
