/* You can add global styles to this file, and also import other style files */
.shadows {
  -webkit-box-shadow: 4px 11px 15px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: 4px 11px 15px -4px rgba(0,0,0,0.36);
  box-shadow: 4px 11px 15px -4px rgba(0,0,0,0.36);
}

.row {
  background-color: white;
}
