<app-section-title icon="fa fa-address-card-o" title="Registro de visita"></app-section-title>
<div class="row">
    <div class="col-md-2">
        <div class="form-group shadows">
            <input class="form-control" type="text" placeholder="Fecha de registro" name="Delito" />
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Imputado">
                <label class="custom-control-label" for="Imputado">Guardar con esta fecha</label>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="text-align: center;">
        <h5>SISTEMA PENITENCIARIO CERESO MORELOS VARONIL</h5><br>
        <h4>PASE PERMANENTE DE VISITA</h4><br>
    </div>
    <div class="col-md-2">
        <div class="form-group shadows">
            <input class="form-control" type="text" placeholder="Folio" name="Delito" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group shadows">
            <input class="form-control" type="text" placeholder="Nombre del visitante" name="Delito" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group shadows">
            <input class="form-control" type="text" placeholder="Folio" name="Folio" />
        </div>
    </div>
</div>