<div [hidden]="!isForm">

    <form name="f" (ngSubmit)="f.form.valid && saveDelito()" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Delito:</label>
                    <input type="text" class="form-control shadows" placeholder="Delito" [(ngModel)]="delito" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" name="delitoNombre" />

                </div>
            </div>
            <div class="col-md-12" *ngIf="role">
                <div class="form-group shadows">
                    <input class="form-control" type="text" placeholder="Juez" name="juez" [(ngModel)]="delito.juez" #juez="ngModel" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-12 text-center text-sm-right">
                <button type="button" (click)="toggleForm(false)" class="btn btn-danger mr-3">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
</div>



<ng-template #rt let-r="result" let-t="term">

    <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
</ng-template>